<div class="tbl_a">
<div class="head"> Менеджеры:</div>
<table class="tleads" id="provider_managers"  model="ProviderManager" action="provider_managers">
  <thead>
    <tr>
      <th width="380px" class="center" fld='name'>ФИО</th>
      <th width="330px" class="center" fld='phone'>Телефон</th>
      <th class="center" fld='email'>E-mail</th>
      <th class="edit_delete"></th>
    </tr>
  </thead>
    <%= hidden_field 'manager','provider_id', value: @provider.id %>
  <tbody>
    <%= render partial: @managers, as: :pm %>
    <% css = {class: 'txt fullwidth'} %>
    <tr class="new_item_head"><td colspan="4">Новый менеджер:</td></tr>
    <tr id="new_item">
      <td><%= text_field "manager", :name,  css %></td>
      <td><%= text_field "manager", :phone, css %></td>
      <td><%= text_field "manager", :email, css %></td>
      <%= td_add_sub_send('provider_managers', 'manager') %>
    </tr>
  </tbody>
</table>
</div>
