
<div class="panel panel-default">
<div class="panel-heading table-heading head month"> Менеджеры:</div>
<table class="tleads" id="pmanagers">
  <thead>
    <tr>
      <th width="380px" class="center">ФИО</th>
      <th class="center">Телефон</th>
      <th class="center">E-mail</th>
      <th class="edit_delete"></th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.name %></td>
        <td><%= manager.phone %></td>
        <td><%= manager.email %></td>
        <%= td_tool_icons(manager, 'delete','span') %>
      </tr>
    <% end %>


     <tr><td class="caption3"><span>Новый менеджер: </span><div class="inp2" ><%= text_field "manager",:name, {:class => 'txt fullwidth'} %></div> </td>
      <td><%= text_field "manager",:phone, {:class => 'txt fullwidth'} %></td>
      <td><%= text_field "manager",:email, {:class => 'txt fullwidth'} %></td>
      <td><span class="sub btn_a" id="btn-send" providerid="<%= @provider.id %>"> Добавить</span></td></tr>

  </tbody>
</table>

</div>
