<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :direction, params[:direction] %>


<div class="panel panel-default">
<table class="tleads">
  <thead>
    <tr>
      <th width="150px">Название</th>
      <th width="160px">Специализация</th>
      <th width="130px">Статус</th>
      <th width="130px">Телефон</th>
      <th width="170px">Сайт</th>
      <th>Адрес</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.spec %></td>
        <td><%= colored_status(provider.p_status) %></td>
        <td><%= provider.phone %></td>
        <td><%= site_link(provider.url) %></td>
        <td><%= provider.address %></td>
        <%= edit_show(provider) %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

