<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :direction, params[:direction] %>


<% @goodstypes.each do  |gt| %>
<% prv = gt.providers.where(:id => @ids) %>
<% if prv.count>0 %>
  

<div class="panel panel-default">
<div class="panel-heading table-heading head month"> <%= gt.name %></div>
<table class="tleads">
  <thead>
    <tr>
      <th>Название</th>
      <th width="290px">Специализация</th>
      <th width="130px">Телефон</th>
      <th width="170px">Сайт</th>
      <th width="220px">Адрес</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
      <% prv.each do |provider| %>
        <tr class=<%= class_for_provider(provider) %> >
          <td class="cell-inner"><%= icon_for_provider(provider).html_safe %><%= provider.name %></td>
          <td class='n_wrap'><%= provider.goods_type_names %></td>
          <td><%= provider.phone %></td>
          <td><%= site_link(provider.url) %></td>
          <td><%= provider.address %></td>
          <%= tool_icons(provider,{icons:'edit,show'}) %>
        </tr>
      <% end %>
    
  </tbody>
</table>
</div>
<% end %>
<% end %>


