<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :direction, params[:direction] %>


<div class="panel panel-default">
<table class="table table-striped tableSorter">
  <thead>
    <tr>
      <th>Название</th>
      <th>Специализация</th>
      <th>Менеджер</th>
      <th>Телефон</th>
      <th>E-mail</th>
      <th>Сайт</th>
      <th>Адрес</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.spec %></td>
        <td><%= provider.manager %></td>
        <td><%= provider.phone %></td>
        <td><%= provider.email %></td>
        <td><%= provider.url %></td>
        <td><%= provider.address %></td>
        <%= render "shared/td_edit_delete", :element => provider %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

