<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :direction, params[:direction] %>

<%= simple_form_for :p do |f| %>
<%= select_tag "style", content_tag(:option,'Стиль...',:value=>"")+options_from_collection_for_select(@styles, "id", "name") %>
<%= select_tag "budget", content_tag(:option,'Бюджет...',:value=>"")+options_from_collection_for_select(@budgets, "id", "name") %>
<%= select_tag "goodstype", content_tag(:option,'Вид товара...',:value=>"")+options_from_collection_for_select(@goodstypes, "id", "name") %>
<% end %>

<div class="panel panel-default">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "name", "Название"%></th>
      <th><%= sortable "spec", "Специализация"%></th>
      <th><%= sortable "manager", "Менеджер"%></th>
      <th><%= sortable "phone", "Телефон"%></th>
      <th><%= sortable "email", "E-mail"%></th>
      <th><%= sortable "url", "Сайт"%></th>
      <th><%= sortable "address", "Адрес"%></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.spec %></td>
        <td><%= provider.manager %></td>
        <td><%= provider.phone %></td>
        <td><%= provider.email %></td>
        <td><%= provider.url %></td>
        <td><%= provider.address %></td>
        <%= render "shared/td_edit_delete", :element => provider %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>

<%= link_to 'Добавить поставщика', new_provider_path, class: "btn btn-default btn btn-success" %>

