<div class="items_box_head">
<div class="panel-left">
<%= form_tag providers_path, method: 'get', id: "p_search", class: 'index_filter' do %>

<label class="combobox">
<%= chosen_src "goodstype", Goodstype.order(:name), @param_goodstype, {nil_value: 'Вид товара...',class: ''} %>
</label>


<% end %>


</div>

<%= link_to 'Добавить', new_provider_path, class: "btn_a btn-add btn_slim right space20" %>
<%= only_actual_btn %>

</div>
</div>
<div class ="container">
  <div id="div_tproviders">
    <%= render "providers" %>
  </div>
</div>