<div class="items_box_head">
<div class="panel-left">
<%= form_tag providers_path, :method => 'get', :id => "p_search" do %>



<label class="combobox">
<%= select_tag "goodstype", content_tag(:option,'Вид товара...',:value=>0)+options_from_collection_for_select(Goodstype.order(:name), "id", "name",:selected=>@param_goodstype) %>
</label>


<% end %>


</div>

<%= link_to 'Добавить', new_provider_path, class: "btn_a btn-add btn_slim right space20" %>
<%= only_actual_btn %>

</div>
</div>
<div class ="container">
	<div id="div_tproviders">
	 	<%= render "providers" %>
	</div>
</div>