
<div class="box_wrap box_wrap_1">
  <div class="panel-left">
    <table class="tbl_fc tbl_fc">
    
    <% a = [:name,:phone,:address,:url, :spec] %>
    <% a.each do |el| %>

      <tr><td class="caption"> <%= t(el) %>:</td>
      <td><div class="lbl"><%= @provider[el] %></div></td></tr>
    <% end %> 
</div>
      

    <tr><td class="caption">Виды товаров:</td>
      <td><div class="lbl"><%= @provider.goods_type_names %></td></tr>
    <tr><td class="caption">Статус:</td>
      <td><div class="lbl"> <%= @provider.p_status_name %></div></td></tr>    
    </table>
  </div>

  <div class="panel-right">
    <div class="comments_box">
      <%= render "shared/comments" %>
    </div>

  </div>