<div class="panel panel-default">
<div class="panel-heading">Каналы</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Канал</th>
      <th width="60px"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <%= render "shared/td_edit_delete", :element => channel %>
      </tr>
    <% end %>

   <tr>
   <td>
  <%= form_for(@channel) do |f| %>
    <%= f.label 'Новый канал:' %>
    <%= f.text_field :name, :class => 'text_input' %></td>

    <td><%= f.submit 'Добавить',:class => 'btn btn-warning btn-sm' %></td>
  <% end %>
  </td>
  </tr>

  </tbody>


</table>
</div>