<div class="panel panel-default">
<div class="panel-heading">Каналы</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Канал</th>
      <th width="60px"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        
        <td><%= link_to image_tag('edit.png'), edit_channel_path(channel) %>
        <%= link_to image_tag('delete.png'), channel, method: :delete, data: { confirm: 'Подтвердите удаление?' } %></td>
      </tr>
    <% end %>

   <tr>
   <td colspan="2">
  <%= form_for(@channel) do |f| %>
    <%= f.label 'Новый канал:' %>
    <%= f.text_field :name, :class => 'text_input' %>
    <%= button_tag 'Добавить',:class => 'btn btn-warning btn-sm' %>
  <% end %>
  </td>
  </tr>

  </tbody>


</table>
</div>