<div class="panel panel-default">
<div class="panel-heading table-heading">Каналы</div>
<table class="table table-striped">


  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
	<td></td>
        <%= render "shared/td_edit_delete", {:element => channel, :subcount => channel.leads.count }%>
      </tr>
    <% end %>

   <tr>
   <td>
    <%= form_for(@channel) do |f| %>
    <%= f.label 'Новый канал:' %>
    <%= f.text_field :name, :class => 'text_input' %></td>

     <td colspan="2">
       <span class="btn btn-warning btn-sm" id="btn-send"> Добавить</span>
       <% end %>
    </td>
  </tr>

  </tbody>


</table>
</div>