<div class="page-wrapper">
<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <div class="box_cent form_c auth_form" style="top: 58.5px;">
  <div class="hl hl_a bd">Восстановление пароля</div>
    <%= render 'shared/error_messages', object: f.object %>
  
    <%= hidden_field_tag :email, @user.email %>

    <table class="tbl_fc tbl_fc_1">
    <tr><td class="caption">Пароль:</td>
        <td><div class="inp_w"><%= f.password_field :password, class: 'txt' %></div></td></tr>
    <tr><td class="caption">Подтверждение:</td>
        <td><div class="inp_w"><%= f.password_field :password_confirmation, class: 'txt' %></div></td></tr>
    <tr><td colspan="2"><%= f.submit "Обновить пароль", class: "btn_a right" %></td></tr>
    </table>
  <% end %>
  </div>
</div>