<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @leads_comment.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @leads_comment.user_id %>
</p>

<%= link_to 'Edit', edit_leads_comment_path(@leads_comment) %> |
<%= link_to 'Back', leads_comments_path %>
