<li class="item <%= @comment.readed_by_user?(current_user) ? '' : 'new' %>" commentid="<%= @comment.id %>" id="comment_<%= @comment.id %>" > 
  <div class="pic"><%= avatar_for(@comment.user) %></div>
  <div class="cont">
    <div class="head">
      <div class="name"><%= @comment.user.name %></div>
      <div class="info"><%= @comment.created_at.strftime("%d.%m.%Y %H:%M:%S") %></div>
      <div class="date">
        <% if (current_user== @comment.user || current_user.admin) && ['edit','create'].include?(controller.action_name) %>

        <%= link_to '', @comment, method: :delete, remote: true, data: {confirm: 'Удалить комментарий?'}, class: "icon icon_remove_1 btn_remove" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text" ownerid=<%= @comment.owner.id %>>
    <span><%= simple_format(@comment.comment) %></span>
  </div>      
</li>