<div class="items_box_cont tbl_a">
<div class="head">Список статусов</div>
<table class="tleads">
  <thead>
    <tr>
      <th>Статус</th>
      <th width="60px" class="center">Актуальный</th>
      <th class="edit_delete"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr >
        <td><%= status.name %></td>
        <td class="state"><%= check_box_tag status.actual, status.actual, status.actual %></td>
        <%= edit_delete(status, status.leads.count )%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%= form_for(@status) do |f| %>
<div class="itemAdd_form">
  <table><tbody>
  <tr><td class="caption">Новый статус:</td>
      <td><label class="inp_btn_label"><div class="inp_btn checkbox"><input type="checkbox"></div>Актуальный</label></td>
      <td><div class="inp">
          <%= f.text_field :name, :class => 'txt' %>
          <input type="submit" class="sub btn_a" value="Добавить"></div>
      </td></tr>
  </tbody></table>
</div>
<% end %>
