<div class="panel panel-default">
<div class="panel-heading table-heading">Список статусов</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Статус</th>
      <th class="center">Актуальный</th>
      <th></th>
      <th class="edit_delete"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr >
        <td><%= status.name %></td>
        <td class="center"><%= check_box_tag status.actual, status.actual, status.actual %></td>
        <td></td>
        <%= render "shared/td_edit_delete", {:element => status, :subcount => status.leads.count }%>
        
      </tr>
    <% end %>


    <tr>
    <td><%= form_for(@status) do |f| %>
	<%= f.label 'Новый статус:' %>
	<%= f.text_field :name, :class => 'text_input' %></td>
    <td class="center"><%= f.check_box :actual %></td>
    <td colspan="2">
       <span class="btn btn-warning btn-sm" id="btn-send"> Добавить</span>
       <% end %>
    </td>
  
    </tr>
  </tbody>
</table>
</div>

