<div class="panel panel-default">
<div class="panel-heading table-heading">Список бюджетов</div>
<table class="table table-striped">
  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td></td>
        <%= edit_delete(budget, budget.providers.count )%>
      </tr>
    <% end %>

   <tr>
   <td>
  <%= form_for(@budget) do |f| %>
    <%= f.label 'Новый бюджет:' %>
    <%= f.text_field :name, :class => 'text_input' %>
    
  <% end %>
  </td>
    <td colspan="2">
       <span class="btn btn-warning btn-sm" id="btn-send"> Добавить</span>
    </td>

  </tr>

  </tbody>


</table>
</div>