<div class="panel panel-default">
  <div class="panel-heading table-heading head month"><%= @page_header %></div>
  <div class="table-body-scroll">
    <table class="tleads">
      <thead>
        <% if @column_header.present? %><th><%= @column_header %></th> <% end %>
        <% @chart_data[:headers].each do |head| %>
        <th ><%= head %></th>
        <% end %>
      </th>
    </thead>
    <tbody>
      <% @chart_data[:hash].each do |row| %>
      <tr>
        <% @chart_data[:json][0].keys.each do |key| %>
        <% if row[key].to_i >0 %>
        <td><%= row[key].to_sum %></td>
        <% else %>
        <td ><%= row[key] %></td>
        <% end -%>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
