<div class="box_wrap box_wrap_1">

  <div class="items_box_head items_box_param">
    <%= form_tag statistics_path, :method =>'get', :id => "stats_page" do %>

    <%= select_tag "page_type", options_for_select(@chart_collection, @page_type) %>


    <label class="first">Период с:</label>
    <div class="inp_w"><%= text_field_tag :start_date, @start_date.try('strftime',"%d.%m.%Y"), class: "txt datepicker slim_txt" %></div>

    <label>по:</label>
    <div class="inp_w"><%= text_field_tag :end_date, @end_date.try('strftime',"%d.%m.%Y"), class: "txt datepicker slim_txt" %></div>

    <%= submit_tag "Обновить", class: "sub btn_a btn_slim " %>

    <% end %>
  </div>

  <div id="charts_data">
    <%= render "charts_table" %>
  </div>

</div>



