<%= render 'shared/edit_head', item: @work, title: "Редактирование работы" %>
<%= simple_form_for(@work) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="panel-left">
    <table class="tbl_fc tbl_fc_1">
    <tr><td class="caption">Наименование:</td>
      <td><div class="inp_w"><%= f.text_field :name, label: false, class: "txt" %></div></td></tr>
    <tr><td class="caption">Вид работы:</td>
        <td><div class="inp_w"><%= chosen_src :work_type_id, WorkType.all, @work %></div></td></tr>
    <tr><td></td><td><%= submit_cancel 'options/works' %></td></tr>
      </table>
</div>

<div class="panel-right">
  <%= render 'linked_works' %>
</div>
<% end %>
