<% provide(:title, 'Edit user') %>
<h1>Редактировать пользователя</h1>

<%= form_for(@user) do |f| %>

<div class="row">

  <div class="col-md-1">
  <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>Изменить</a>
    </div>
  </div>

  <div class="col-md-6">
    
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
	    
      <%= f.label :date_birth %>
      <%= f.text_field :date_birth, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit "Сохранить", class: "btn btn-success" %>
    
    
    
  </div>
</div>

<% end %>