<% if UserOption::MANAGER_ALLOW.include?(class_name) || is_admin? %>
<div class="sep_05"></div>
<div class="option_list">
<% if ['users','user_roles'].include? class_name %>
<% elsif has_view(class_name, 'new_item') %>
  <%= render "#{class_name}/new_item" %>
<% else %>
  <%= render 'shared/new_item' %>
<% end %>
</div>

<% if has_view(class_name, 'index') %>
  <%= render "#{class_name}/index.html" %>
  <% if has_view(class_name, 'index_vue') %>
    <%= render "#{class_name}/index_vue.html" %>
  <% end %>
<% else %>

<div class="sep_15"></div>

<% attrs = @attributes %>

<% is_inside_edit = inside_edit() %>

<div class="items_box_cont tbl_a">
<div class="head"> <%= t_items_list %></div>
<table class="tleads" model="<%= @item.class.name %>">
  <thead>
  <% attrs.each do |attr| %>
    <th <%= attr_date_or_bool?(@item, attr[0]) ? "width=60px;":'' %> fld='<%= attr[0] %>'>
      <% if t(attr[0]).is_a?(Array) %> 
        <%= t(attr[0])[1].capitalize %>
      <% else %>
        <%= t(attr[0]) %>
      <% end %>
    </th>
  <% end %>
  <th></th>
  </thead>
  <tbody>
    <% @items.each do |group, items| %>
      <% if group!='' %>
        <tr class="gr-head"><td colspan="<%= attrs.length+1 %>"> <%= group %></td></tr>
      <% end %>

      <% items.each do |item| %>
      
      <tr id="item_<%= item.id %>">
        <% attrs.each do |attr| %>
          <% a0 = attr[0] %>
          <% if attr_boolean?(@item, a0) %>
            <td class="state">
              <span class="check_img sw_check <%= item[a0] ? 'checked' : '' %>" item_id="<%= item.id %>" chk="<%= a0 %>"></span>
            </td> 

          <% elsif attr_date?(@item, a0) %>  
            <td class="option_day"><%= item[a0].try('strftime',"%d.%m.%Y") %></td>

          <% elsif a0.last(3) == '_id' %>
            <td title='<%= item.id %>' item_id="<%= item.try(a0) %>"><%= item.try(a0[0..-4]).try(:name) %></td>

          <% else %>
            <td title='<%= item.id %>'><%= item[a0].to_s %></td>
          <% end %>

        <% end %>
        
        <% tag = is_inside_edit.include?(item.class.name) ? 'link' : 'span' %>
        <%= tool_icons(item, {tag: tag, subcount: parents_count(item)} )%>
      </tr>

    <% end %>
    <% end %>

  </tbody>
</table>
</div>
<div class="sep_3"></div>
</div>

<% end %>
<% end %>