<div class="sidebar">
	<div class="menu_sb">
	  <ul>
		<li><%= link_to :users do %><span class="pict"><span class="icon icon_user"></span></span>Пользователи<% end %></li>
	  </ul>
	</div>
		
	<div class="menu_sb menu_sb_a">	
	<% if ['leads','statuses','channels'].include?(params['options_page']) %>
		  <div class="head">Настройки лидов:</div>
		  <ul>
			<%= option_li("statuses","Статусы") %>
			<%= option_li("channels","Каналы") %>
		  </ul>	
	<% end %>

	<% if ['providers','budgets','goodstypes','styles','p_statuses'].include?(params['options_page']) %>		    
			<div class="head">Настройки поставшиков:</div>
			<ul>
			    <%= option_li("budgets","Бюджеты") %>
			    <%= option_li("goodstypes","Виды товаров") %>
			    <%= option_li("styles","Стили") %>
			    <%= option_li("p_statuses","Статусы") %>
			</ul>
	<% end %> 
  </div>
</div>

<div class="content">
	<%= render @page_render %>
<div class="sep_3"></div>
</div>


</div>