<div class="sidebar">
	<div class="menu_sb">
	  <ul>
		<li><%= link_to :users do %><span class="pict"><span class="icon icon_user"></span></span>Пользователи<% end %></li>
	  </ul>
	</div>
		


  <div id="accordion" class="menu_sb menu_sb_a" active=<%= get_active_option_page %> >
  <h3 class="first">Настройки лидов:</h3><div><ul>
			<%= option_li("statuses","Статусы") %>
			<%= option_li("channels","Каналы") %>

  </ul></div>	  
   <h3>Настройки проектов:</h3><div><ul>
			    <%= option_li("project_types","Виды проектов") %>
          <%= option_li("project_statuses","Статусы проектов") %>
  </ul></div>

  <h3>Настройки финансов:</h3><div><ul>
			    <%= option_li("payment_types","Виды оплат") %>
			    <%= option_li("payment_purposes","Назначение платежей") %>
  </ul></div>
  <h3>Настройки поставшиков:</h3><div><ul>
			    <%= option_li("budgets","Бюджеты") %>
			    <%= option_li("goodstypes","Виды товаров") %>
			    <%= option_li("styles","Стили") %>
			    <%= option_li("p_statuses","Статусы") %>
  </ul></div>
  <h3>Настройки задач:</h3><div><ul>
      <%= option_li("dev_projects","Проекты") %>
      <%= option_li("priorities","Приоритеты") %>
      <%= option_li("dev_statuses","Статусы задач") %>
  </ul></div>
  <h3>Настройки календаря:</h3><div><ul>
      <%= option_li("absence_reasons","Причины отсутствия") %>
      <%= option_li("absence_targets","Цели отсутствия") %>
  </ul></div>
			
  </div>
</div>

<div class="content option_list">
        <%= render("shared/simple_option") %>
<div class="sep_3"></div>
</div>


</div>