<script type="text/html" id="comments_template">
  <%= render "comments/comment.html.mustache" %>
</script>

<% if @owner && !@owner.comments.nil? && @owner.comments.count >0 %>
  <% @comments = @owner.comments.order('created_at asc') %>  
<% end %>
<div class="box_i">
  <div class="hl"><span class="icon icon_chat"></span>Комментарии: </div>  
  <div class="jspContainer" style="height:<%= @comm_height %>px;">
    <div class="jspPane">
      <ul class="comments_list_a">
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <% @comment = comment %>
            <%= render partial: "comments/comment" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <% if controller.action_name == 'edit' %>
  <div class="commentAdd_form">
    <%= field_set_tag nil, class: 'format' do %>
      <%= hidden_field_tag 'comment[owner_type]', @owner.class  %>
      <%= hidden_field_tag 'comment[owner_id]', @owner.id %>
      <%= text_field_tag 'comment[comment]', '', class: 'txt', placeholder: "Новый комментарий" %>
      <span class="sub btn_a btn-sm" id="btn-chat" ownerid=<%= @owner.id %> ownertype='<%= @owner.class.name %>' > Отправить</span>
      <% submit_tag 'Отправить', class: 'sub btn_a' %>
    <% end %>
  </div>
  <% end %>

</div>


