<% if !@owner.comments.nil? && @owner.comments.count >0 %>
<% @comments = @owner.comments.order('created_at asc') %>  
<% end %>
<div class="box_i">
  <div class="hl"><span class="icon icon_chat"></span>Комментарии: </div>  
  <div class="jspContainer" style="height:<%= @comm_height %>px;">
    <div class="jspPane">
      <ul class="comments_list_a">
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <% @comment = comment %>
            <%= render partial: "comments/comment" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <% if controller.action_name == 'edit' %>
  <div class="commentAdd_form">

    <%= form_for( [@owner.comments.new], remote: true, data: {format: "json"} ) do |fc| %>
    <%= fc.hidden_field :owner_type, value: @owner.class  %>
    <%= fc.hidden_field :owner_id, value: @owner.id %>
    <%= fc.text_field "comment", class: 'txt', placeholder: "Новый комментарий" %>
    <%= fc.submit 'Отправить', class: 'sub btn_a' %>

    <% end %>
  </div>
  <% end %>

</div>


