<% if !@first_table %>
  <% @no=@no+1 %>
  </tbody></table></div></div>
<% end %>

<% @first_table = false %>
<% hide = params['cut'].split('.').include? @no.to_s if !params['cut'].nil? %>

<div class="panel panel-default">
<% if !@cur_head.nil? %>
	<div class="panel-heading table-heading head month"><%= @cur_head %><span class="cut <%= hide ? 'cutted' : '' %>" cut_id="<%= @no %>"><b></b></span></div>	
<% end %>

<div id="table<%= @no %>" style="display: <%= hide ? 'none' : '' %>;">
<table class="tleads" action=<%= controller.controller_name %> model=<%= controller.controller_name.classify %>  >
  <thead>