<div class="hl hl_a">История изменений <span class="grey">(<%= @history.count %>)</span></div>
<div class="historyChange_list_a">

  <%- @history.each do |version_fields| %>

  <%- version = version_fields[1] %>
  <div class="item">
    <div class="head"><%= version['author'] %>, <span class="date"><%= version['at'] %></span></div>

    <ul>
      <% if version['type'] == 'ch' %>
          <% version['changeset'].each do |fields| %>
            <%- k = fields[1] %>
            <li>Изменено поле <b><%= k['field'] %></b> c «<%= k['from'] %>» на «<%= k['to'] %>»</li>
          <% end %>                   
      <% elsif version['type'] == 'add' %>
          <% version['changeset'].each do |fields| %>
          <%- k = fields[1] %>
          <li>Добавлен файл <b><%= k['file'] %></b></li>
          <% end %>                
      <% elsif version['type'] == 'del' %>
          <% version['changeset'].each do |fields| %>
          <%- k = fields[1] %>
          <li>Удален файл <%= k['event'] %><b><%= k['file'] %></b> </li>
          <% end %>                
      <% end %>                

    </ul>

  </div>

  <% end %>
</div>