<%= simple_form_for(@client, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="box_wrap box_wrap_1">
    <div class="panel-left">
      <div class="gr_caption hl_tr">Основные данные</div>   
      <table class="tbl_fc tbl_fc">

      <% a = [:name,:address,:phone, :email ] %>
      <% a.each do |el| %>

        <tr><td class="caption"> <%= t(el) %>:</td>
        <td><div class="inp_w"><%= f.input el, label: false %></div></td></tr>
      <% end %>
      <tr><td class="caption"></td>

        <td><%= submit_cancel clients_url, params[:sub] %></td>
        </tr>

    </table>
    </div>

    <div class="panel-right">
      <div class="gr_caption hl_tr">Дополнительные контакты</div>   
      <%= render 'shared/contacts', f: f %>
    </div>

  </div>
<% end %>

<div class="hl hl_a bd">Проекты</div>
<div id="client_projects">
  <li><span>Адрес</span><span>Исполнитель</span></li>
  <%= render @client.projects %>
</div>

