<%= simple_form_for(@lead) do |f| %>
<%= f.error_notification %>

<div class="col-xs-6">

  <table class="table table-lead-form">
    <tbody><tr><td style="vertical-align:middle;"><label>ФИО</label></td><td><%= f.input :fio, label: false %></td></tr>
    <tr><td style="vertical-align:middle;">Телефон</td><td><%= f.input :phone, label: false %></td></tr>
    <tr><td style="vertical-align:middle;">E-mail</td><td><%= f.input :email, label: false %></td></tr>
    <tr><td style="vertical-align:middle;">Информация о запросе</td><td><%= f.input :info, label: false %></td></tr>
    <tr><td style="vertical-align:middle;">Метраж</td><td><%= f.input :footage, label: false %></td></tr>
    <tr><td style="vertical-align:middle;">Дата для статуса</td><td><%= f.text_field :status_date, :id => "datepicker" %></td></tr>
    <tr><td style="vertical-align:middle;">Дата создания</td><td><%= f.text_field :start_date , :id => "datepicker2" %></td></tr>
    <tr><td style="vertical-align:middle;">Канал</td>
      <td><%= f.select 'channel_id', options_for_select(@channels.collect{ |u| [u.name, u.id] }) %></td></tr>
    <tr><td style="vertical-align:middle;">Статус</td>
      <td><%= f.select 'status_id', options_for_select(@statuses.collect{ |u| [u.name, u.id] },@lead.status_id) %></td></tr>
    
    <%= f.hidden_field :user_id, value: current_user.id   %>

  </tbody></table>
<div class="form-actions">
  <%= f.button :submit, value: 'Сохранить', :class => 'btn btn-success' %>
</div>
</div>
<% end %>
