<div class="hl hl_a">История изменений <span class="grey">(<%= @history.count %>)</span></div>
<div class="historyChange_list_a">

  <%- @history.each do |version| %>

  <div class="item">
    <div class="head"><%= version[1]['author'] %>, <span class="date"><%= version[0] %></span></div>

    <ul>
      <% if version[1]['type'] == 'ch' %>
      <% version[1]['changeset'].each do |k| %>
      <li>Изменено поле <b><%= k[1]['field'] %></b> c «<%= k[1]['from'] %>» на «<%= k[1]['to'] %>»</li>
      <% end %>                   
      <% elsif version[1]['type'] == 'add' %>
      <% version[1]['changeset'].each do |k| %>
      <li>Добавлен файл <b><%= k[1]['file'] %></b></li>
      <% end %>                
      <% elsif version[1]['type'] == 'del' %>
      <% version[1]['changeset'].each do |k| %>
      <li>Удален файл <%= k[1]['event'] %><b><%= k[1]['file'] %></b> </li>
      <% end %>                

      <% end %>                

    </ul>

  </div>

  <% end %>
</div>