<% @leads.each do |lead| %>

  <% if check_new_table_head(lead) %>
    <%= render partial: "shared/head", locals: {stripped: true} %>
      <tr>
        <th width="110px"><%= sortable_th(:status_id,'Статус') %> </th>
        <th width="108px"><%= sortable_th(:status_date,'Дата статуса') %></th>
        <th width="140px"><%= sortable_th(:fio,'ФИО') %></th>
        <th width="120px"><%= sortable_th(:phone,'Телефон') %></th>
        
        <th >Информация о запросе</th>
        <th width="7%" class="center"><%= sortable_th(:footage,'Метраж') %></th>
        <th class="center" width="9%"><%= sortable_th(:start_date,'Дата') %></th>
        <th class="edit_delete"></th>
      </tr>
    </thead>
    <tbody>
  
  <% end %>

  <tr class="<%= class_for_lead(lead) %>">      
    <td><%= lead.status_name %></td>
    <td><%= lead.status_date.try('strftime',"%d.%m.%Y") %></td>
    <td><%= lead.fio %></td>
    <td><%= phone_format(lead.phone) %></td>
    <td><%= tooltip_if_big( lead.info ) %></td>
    <td><%= lead.footage %></td>
    <td><%= lead.start_date.try('strftime',"%d.%m.%Y") %></td>

    <% if is_update_form? %>
      <td><%= check_box_tag "leads_ids[]", lead.id %></td>
    <% else %>
      <%= tool_icons(lead,{icons:'edit,show'}) %>
    <% end %>
  </tr>
<% end %>
</tbody></table></div></div>
<br>