<% cur_month  = nil %>
<% cur_user   = nil %>
<% cur_status = nil %>
<% first_table = true %>

<% lead = @leads.first %>

<% @leads.each do |lead| %>
    <% new_date = lead.start_date? ? lead.start_date : Date.today %>
    <% p_date = lead.status_date? ? lead.status_date : Date.today %>
      
      <% if cur_month != new_date.month && (params[:sort] == "start_date" || (params[:sort] == nil && !is_admin?)) %> 
          <% cur_month = new_date.month %>
          <%= render "head", {:first_table => first_table, :heading => t(new_date.try('strftime',"%B"))+" "+new_date.try('strftime',"%Y") } %>
      <% elsif cur_month != p_date.try('strftime',"%B") && (params[:sort] == "status_date" || (params[:sort] == nil && is_admin?))%>
          <% cur_month = p_date.try('strftime',"%B") %>
          <%= render "head", {:first_table => first_table, :heading => t(p_date.try('strftime',"%B"))+" "+p_date.try('strftime',"%Y") } %>    
      <% elsif cur_user != lead.ic_user.name && (params[:sort] == "ic_user_id")%>
        <% cur_user = lead.ic_user.name %>
          <%= render "head", {:first_table => first_table, :heading => t(lead.ic_user.name) } %>
      <% elsif cur_status != lead.status.name && (params[:sort] == "status_id")%>
        <% cur_status = lead.status.name %>
        <%= render "head", {:first_table => first_table, :heading => t(lead.status.name) } %>
      <% end %>
        <% first_table = false %>        

        <tr class="<%= class_for_lead(lead) %>" >      
        <td><%= lead.status_name %></td>
        <td><%= p_date.try('strftime',"%d.%m.%Y") %></td>
        <td><%= lead.fio %></td>
        <td><%= lead.phone %></td>
        <td><%= lead.info %></td>
        <td class="center"><%= lead.footage %></td>
        <td class="center"><%= lead.start_date.try('strftime',"%d.%m.%Y") %></td>

        <% if is_update_form? %>
          <td><%= check_box_tag "leads_ids[]", lead.id %></td>
        <% else %>
          <%= edit_delete(lead)%>
        <% end %>

      </tr>
<% end %>
</tbody></table></div>
<br>