		<% @lead_files.each do |lead_file| %>
		<div class="item">
			<div class="fname">
 			 <a href="/download/<%= @lead.id %>/<%= lead_file.name %>" target="_blank"><%= lead_file.name %></a>
            </div>
			<div class="tools">
				<a href="/download/<%= @lead.id %>/<%= lead_file.name %>" target="_blank" class="icon icon_download"></a>
				<span file_id=<%= lead_file.id %> class="icon icon_remove_1"></span> </td>
			</div>
		</div>
		<% end %>

