<% cur_month  = "" %>
<% cur_user   = nil %>
<% cur_status = nil %>
<% first_table = true %>

<% lead = @leads.first %>

<% @leads.each do |lead| %>
    <% new_date = lead.start_date? ? lead.start_date : Date.today %>
    <% p_date = lead.status_date? ? lead.status_date.try('strftime',"%B") : "Без статуса" %>
    <% m_head = lead.status_date? ? t(lead.status_date.try('strftime',"%B"))+" "+lead.status_date.try('strftime',"%Y"): "Без статуса" %>
      
      <% if cur_month != new_date.month && (params[:sort] == "start_date" || (params[:sort] == nil && !is_admin?)) %> 
          <% cur_month = new_date.month %>
          <%= render "head", {:first_table => first_table, :heading => t(new_date.try('strftime',"%B"))+" "+new_date.try('strftime',"%Y") } %>
      <% elsif cur_month != p_date && (params[:sort] == "status_date" || (params[:sort] == nil && is_admin?))%>
          <% puts "cur_month: " + cur_month +", p_date: " +p_date %>
          <% cur_month = p_date %>
          <%= render "head", {:first_table => first_table, :heading =>  m_head} %>    
      <% elsif cur_user != user_name(lead.user_id) && (params[:sort] == "users.name")%>
        <% cur_user = user_name(lead.user_id) %>
          <%= render "head", {:first_table => first_table, :heading => user_name(lead.user_id) } %>
      <% elsif cur_status != lead.status.try(:name) && (params[:sort] == "status_id")%>
        <% cur_status = lead.status.try(:name) %>
        <%= render "head", {:first_table => first_table, :heading => t(lead.status.name) } %>
      <% end %>
        <% first_table = false %>        

        <tr class="<%= class_for_lead(lead) %>" >      
        <td><%= lead.status_name %></td>
        <td class="center"><%= lead.status_date.try('strftime',"%d.%m.%Y") %></td>
        <td><%= lead.fio %></td>
        <td><%= lead.phone %></td>
        <td><%= lead.info %></td>
        <td class="center"><%= lead.footage %></td>
        <td class="center"><%= lead.start_date.try('strftime',"%d.%m.%Y") %></td>

        <% if is_update_form? %>
          <td><%= check_box_tag "leads_ids[]", lead.id %></td>
        <% else %>
          <%= edit_show(lead)%>
        <% end %>

      </tr>
<% end %>
</tbody></table></div>
<br>