<div class="subnav">
	<%= sortable_pil "start_date", "По месяцам" %>
	<%= sortable_pil "user_id", "По сотрудникам" %>
	<%= sortable_pil "status_id", "По статусам" %>
	<%= sortable_pil "status_date", "По приоритетам" %>

	<%= form_tag leads_path, :method => 'get', :id => "leads_search" do %>	
  	<div class="navsearch"> 
    	<%= text_field_tag :search, params[:search], :class => "search_area txt", :placeholder=>"Искать в таблице..." %>
	</div>
	<% end %>

	<%= set_only_actual only_actual %>

	<%= multi_edit_icon %>

</div>

	

