<div class="subnav">
        
  <%= hidden_field_tag :cur_method,controller.action_name, {controller: controller.controller_name} %>

	<%= sortable_pil "status_date", "По приоритету" %>
	<%= sortable_pil "start_date", "По месяцам" %>
	<%= sortable_pil "ic_users.name", "По ответственным", 'asc' %>
	<%= sortable_pil "users.name", "По создателям", 'asc' %>
	<%= sortable_pil "status_id", "По статусам" %>

	<%= select_tag 'year', options_for_select(@years, :selected => 1), class: 'chosen' %>

	<%= link_to 'Добавить', new_lead_path, class: "btn_a btn-add btn_slim right space20" %>
	<%= only_actual_btn %>
	<% multi_edit_icon %>

</div>

	

