<%= render 'form' %>

<div class="col-xs-5">
  <div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-comment"></span> Комментарии </div>
    <div class="panel-body">
      <ul class="microposts">
        <%= render 'comments' %>
      </ul>
    </div>         

    <div class="panel-footer">
      <div class="input-group">                    
        <%= text_area "comment","comment", placeholder: "Новый комментарий...", class: "comment_area" %>
        <span class="input-group-btn">
          <span class="btn btn-warning btn-sm" id="btn-chat" leadid=<%= @lead.id %>> Отправить</span>
        </span>
      </div>

    </div>
  </div>
</div>

<div class="container">
 <div class="col-6">

  <div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      <span class="sr-only">20% Complete</span>
    </div>
  </div>

<table class="files"><tbody><%= render "lead_files" %></tbody></table>


  <p><label for="file"> <a>+ Добавить файл</a> </label></p>
  <input id="file" type="file" leadid="<%= @lead.id %>" name="file" data-url="/file" multiple="">

   <% if @lead.versions.count >1 %>
   <h3>История изменений (<%= @lead.versions.count-1 %>)</h3>


   <%- @lead.versions.where('"event" <> ''create''').reverse.each do |version| %>
   <% if version[:event]=="create" %> 
   <% end %>

   <p><b><%= find_version_author_name(version) %></b> <span class="helptext"><%= version.created_at.localtime.strftime("%d-%m-%Y %H:%M:%S") %></span>

    <ul>
      <% changeset = version.changeset %>
      <% changeset.keys.each do |k| %>


      <% if k=="updated_at" %>
      <% elsif k=="channel_id" %>
      <li>Изменено поле <b><%= t(k) %></b> c «<%= channel_name(changeset[k][0]) %>» на «<%= channel_name(changeset[k][1]) %>»</li>
      <% elsif k=="status_id" %>
      <li>Изменено поле <b><%= t(k) %></b> c «<%= status_name(changeset[k][0]) %>» на «<%= status_name(changeset[k][1]) %>»</li>
      <% else %>
      <li>Изменено поле <b><%= t(k) %></b> c «<%= changeset[k][0] %>» на «<%= changeset[k][1] %>»</li>
      <% end %>
      <% end %>
    </ul> 
  </p>    
  <% end %>
  <% end %>

 </div>
</div>