<% if current_user.has_role?(:manager) or @lead.ic_user == current_user  %> 
<%= render 'shared/edit_head', item: @lead, title: "Редактирование лида" %>

<div class="box_wrap box_wrap_1">

 <%= render 'form' %>

  <div class="right">
    <div class="comments_box">
      <%= render partial: "shared/comments" %>
    </div>
    <%= link_to("Перенести в договор", "/projects/new?lead=#{@lead.id}", class: 'btn btn_a before_30', id: 'to_project', target: :blank ) %>
  </div>

</div>

<div class="box_wide">
  <div class="box_wrap box_wrap_1">

    <div class="panel-left lead_files">  
    <div class="sep_3"></div>
    <%= render "shared/attach_list" %>
    </div>
    <div class="panel-right">
        
      <div class="sep_3"></div>
        <div class="historyChange_box">
          <% if @history.count >0 %>
            <%= render "shared/history" %>    
          <% end %>
        </div>
      
    </div>

  </div>
  </div>  
  </div>
</div>

  <div class="sep_3"></div>

<% end %>