<div class="hl hl_a bd">Новый лид</div>

<%= simple_form_for(@lead) do |f| %>
<%= f.error_notification %>


<div class="box_wrap box_wrap_1">
	<table class="tbl_fc tbl_fc_1">
		<tr><td class="caption">Информация о запросе:</td>
			<td><div class="inp_w"><%= f.text_area :info, class: 'txt alone',label: false %></div></td></tr>
	</table>
	<div class="panel-left">
		<table class="tbl_fc tbl_fc_1">
		<tr><td class="caption">Фио:</td>
		    <td><div class="inp_w"><%= f.input :fio, label: false %></div></td></tr>
		<tr><td class="caption">Телефон:</td>
		    <td><div class="inp_w"><%= f.input :phone, label: false, class: :txt %></div></td></tr>
		<tr><td class="caption">E-Mail:</td>
			<td><div class="inp_w"><%= f.input :email, label: false %></div></td></tr>    
		<tr><td class="caption">Метраж:</td>
			<td><div class="inp_w"><%= f.input :footage, label: false %></div></td></tr>
		<tr><td class="caption">Адрес объекта:</td>
			<td><div class="inp_w"><%= f.input :address, label: false %></div></td></tr>
		<tr><td class="caption">Ответственный:</td>
			<td><div class="inp_w"><%= f.select :ic_user_id, options_for_select(User.order(:name).collect{ |u| [u.name, u.id] },current_user.id) %>			
		<tr><td class="caption"></td>
			<td><%= link_to 'Отмена', leads_path, :class => "sub btn_a btn_reset"%>
				<%= f.button :submit, value: 'Сохранить', :class => 'sub btn_a' %></td></tr>
		</table>
	</div>

	<div class="panel-right">
		<table class="tbl_fc"><tbody>
		<tr><td class="caption">Дата создания:</td>
			<td><div class="inp_w"><%= f.text_field :start_date, class: "txt datepicker" %></div></td></tr>
		<tr><td class="caption">Канал:</td>
			<td><div class="select_custom select"><%= chosen_src 'lead[channel_id]', @channels %>
			</td></tr>
		<tr><td class="caption">Источник:</td>
			<td><div class="select_custom select"><%= chosen_src 'lead[source_id]', LeadSource.all %>
			</td></tr>
		<tr><td class="caption">Статус:</td>
			<td><div class="select_custom select"><%= chosen_src 'lead[status_id]', @statuses, 1 %>
		<tr><td class="caption">Дата статуса:</td>
			<td><div class="inp_w"><%= f.text_field :status_date, class: "txt datepicker" %></div></td>	</tr>		
				</td></tr>
		<tr><td class="caption">Примечание:</td>
			<td><div class="inp_w"><%= f.text_area :first_comment, class: :txt, label: false %></div></td></tr>
		</tbody></table>
	</div>
   
<%= f.hidden_field :user_id, value: current_user.id %>

</div>
<% end %>


