<% require 'json/ext' %>
<% leads_data = Lead.group_by_month(:status_date).collect{|hash, key| {value: t(Date.parse(hash).strftime("%B")), count: key}.to_json }.to_s.gsub!(/\"{/, '{').gsub!(/}"/, '}').gsub!(/\\/, '') %>




<%= content_tag :div, "", id: "leads_chart", leads: leads_data %>

<div class="box_wrap box_wrap_1">
<div class="left">

<% if Rails.env.production? %>
<%= Lead.group_by_month(:status_date, format: "%B %Y" ).count %>
</br>
<%= column_chart Lead.group_by_month(:status_date, format: "%B").count %>

<%= Lead.group_by_month{ |u| u.status_date } %>
<%= Lead.group_by_month{ |u| u.created_at } %>

</div>

<div class="right">
<%= line_chart Lead.group_by_month(:created_at).count %>
</div>
</div>
<% end %>


<div id="myfirstchart" style="height: 250px;"></div>