<div class="items_box_cont tbl_a">
<div class="head">Стили</div>
<table class="tleads">
  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= style.name %></td>
        <td></td>
        <%= edit_delete(style, style.providers.count )%>
      </tr>
    <% end %>

   <tr>
   <td>
  <%= form_for(@style) do |f| %>
    <%= f.label 'Новый стиль:' %>
    <%= f.text_field :name, :class => 'text_input' %>
    
  <% end %>
  </td>
  <td colspan="2">
       <span class="btn btn-warning btn-sm" id="btn-send"> Добавить</span>
    </td>
  </tr>

  </tbody>


</table>
</div>