<div class="panel panel-default">
<div class="panel-heading table-heading">Стили</div>
<table class="table table-striped">

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= style.name %></td>
        <td></td>
        <%= render "shared/td_edit_delete", {:element => style, :subcount => style.providers.count }%>
      </tr>
    <% end %>

   <tr>
   <td>
  <%= form_for(@style) do |f| %>
    <%= f.label 'Новый стиль:' %>
    <%= f.text_field :name, :class => 'text_input' %>
    
  <% end %>
  </td>
  <td colspan="2">
       <span class="btn btn-warning btn-sm" id="btn-send"> Добавить</span>
    </td>
  </tr>

  </tbody>


</table>
</div>