<div class="panel panel-default">
<div class="panel-heading table-heading head month"> Продления сроков:</div>
<table class="tleads" id="project_elongations"  model="ProjectElongation" action="project_elongations">
  
  <tbody>
    <% @project.elongations.each do |pe| %>
      <tr>
        <td><%= pe.new_date.try('strftime','%d.%m.%Y') %></td>
        <td><%= pe.description %></td>
        <%= tool_icons(pe, {icons:'delete',tag:'span'}) %>
      </tr>
    <% end %>


      <tr id="new_item">
      </tr>

  </tbody>
</table>

        <%= form_for [@project, ProjectElongation.new], remote: true, authenticity_token: true do |fe| %>
        
          <td class="caption3" width='120px'><%= fe.text_field :new_date, {:class => 'txt datepicker'} %></td>
          <td><%= chosen_src "elongation_type_id", @elongation_types,@new_et,{nil_value: 'Выберите причину...'} %></td>
          <td><%= fe.submit 'Добавить', class: 'btn_a' %>
          </td>
        <% end %>
</div>
