<%= simple_form_for(@project) do |f| %>
<% if !is_admin? %>
  <%= f.hidden_field :executor_id,  :value => @project.executor_id ||= current_user.id %>
<% end %>
    <h3>Данные</h3>

    <div class="box_wrap box_wrap_1">
      <div class="fullwidth">
        <table class="fullwidth tbl_fc fw_form projects">
        <thead>
        <tr><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th></tr></thead>
        <tbody>
          <tr>
            <td><div class="inp_w"><%= f.input :number, label: 'Номер' %></div></td>
            <td><div class="inp_w"><label>Дата</label><%= f.text_field :date_sign, value: Date.today.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
            <td colspan="3"><div class="inp_w"><%= f.input :address, label: 'Адрес' %></div></td>
          </tr>
          <%= f.simple_fields_for  :client do |c| %>
          <tr>
            <td colspan="2"><div class="inp_w"><%= c.input :name, label: 'ФИО' %></div></td>
            <td><div class="inp_w"><%= c.input :phone, label: 'Телефон' %></div></td>
            <td colspan="2"><div class="inp_w"><%= c.input :email, label: 'E-mail' %></div></td>
          </tr>
          <% end -%> 

          <tr><td class="gr_caption">Вид работы и исполнитель</td></tr>
          <tr>
            <td colspan="2"><div class="inp_w">
              <%= f.select :project_type_id, options_for_select(ProjectType.order(:name).collect{ |u| [u.name, u.id] }) %>
            </div></td>
            <td><div class="inp_w"><%= f.select :style_id, options_for_select(Style.order(:name).collect{ |u| [u.name, u.id] }) %></div></td>
            <td colspan="2">
            <% if is_admin? %>
              <div class="inp_w">
                <%= f.select :executor_id, options_for_select(User.order(:name).collect{ |u| [u.name, u.id] }) %>
              </div>
            <% end %>
            </td>
          </tr>
          

          <tr><td class="gr_caption">Площадь и стоимость</td></tr>
          <tr>
            <td><div class="inp_w"><%= f.input :footage, label: 'Метраж' %></div></td>
            <%= td_sum_field(f, :price, 'Цена за м2') %>
            <%= td_sum_field(f, :sum, 'Сумма') %>
            <td class="va_bottom"><span class="sub btn_a" id="add_footage">+</span></td>
            <%= td_sum_field(f, :sum_total, 'Общая стоимость' ) %> 
          </tr>=
          <tr style="display:none;" id="tr_footage_2">
            <td><div class="inp_w"><%= f.input :footage_2, label: 'Метраж 2' %></div></td>
            <%= td_sum_field(f, :price_2, 'Цена за м2') %>
            <%= td_sum_field(f, :sum_2, 'Сумма') %>
            <td></td>
          </tr>
          <tr><td class="gr_caption">Сроки</td></tr>
            <tr>
            <td><div class="inp_w"><label>Начало</label>
                <%= f.text_field :date_start, value: Date.today.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
            <td><div class="inp_w"><label>Окончание</label><%= f.text_field :date_end_plan, class: "txt datepicker" %></div></td>
            <td><div class="inp_w"><label>Дней</label> <%= number_field_tag :days, 0, {class: 'form-control'} %></div></td>
            <td></td>
            <td></td>
            <tr><td><%= link_to 'Отмена', projects_url, :class => "sub btn_a btn_reset"%>
            <%= f.button :submit, value: 'Сохранить', :class => 'sub btn_a ' %></td></tr>
            
            
          </tr>
        </tbody>
        </table>
      </div>
    </div> 


  <div class="form-actions">
    
  </div>
<% end %>
