<table class="tleads twfixed" id="project_goods"  model="ProjectGood" action="project_goods" color_cls="ordered">
  
  <% if first_col %>
  <% end %>
  <thead>
  	<tr>
	  	<th width='220px'>Позиция</th>
	  	<th width='216px'>Поставщик</th>
	  	<th width='115px'>Срок поставки</th>
	  	<th width='230px'>Примечание</th>
	  	<th width='30px' alt="Предложено / заказано"> Зак.</th>
	  	<th width='58px'>Валюта</th>
	  	<th fld='gsum' width='90px'>Стоимость</th>
	  	<th width='48px'></th>
		</tr>
  </thead>
  
  <%  total = [0,0,0,0] %>
  <tbody>
    <% pgt.goods.order(:id).each do |g| %>
      <tr id="pgt_item<%= g.id %>" class="sw_color <%= g.order ? 'ordered' : '' %>">
        <td width='220px'><%= g.name %></td>
        <td width='210px'><%= g.provider_name %></td>
        <td width='115px'><%= g.date_supply.try('strftime',"%d.%m.%Y") %></td>
        <td width='230px'><%= g.description %></td>
        <td><span class="check_img sw_check good_check <%= g.order ? "checked" :"" %>" item_id="<%=g.id%>" chk="order"></span> </td>
        <td><%= g.currency_name %></td>
				<td width='90px' class="td_right"><%= g.gsum.to_sum if !g.gsum.nil? %></td>
        <%= tool_icons(g, {icons:'modal_edit,delete',tag:'link', add_class:'td_right', modal: true}) %>
        <%  total[g.currency_id] = total[g.currency_id] + g.gsum if !g.gsum.nil? %>
        <%  @all_total[g.currency_id] = @all_total[g.currency_id] + g.gsum if !g.gsum.nil? %>
        
      </tr>
      <tr id="edit_pgt_item<%= g.id %>" class="editable new_row" style="display: none;">
        <% iname = ['upd',g.id].join %>
        <%= hidden_field iname,'project_g_type_id', value: pgt.id %>
        <td class="fw" width='220px'><%= text_field iname,:name, {value: g.name,:class => 'txt'} %></td>
        <td width='220px'>
        <%= chosen_src "provider_id", Goodstype.find(pgt.g_type_id).providers, g.provider_id,{nil_value: 'Выберите поставщика...',add_name: iname} %></td>
        <td class="caption3" width='115px'><%= text_field iname,:date_supply, {value: g.date_supply, :class => 'txt datepicker'} %></td>
        <td class="caption3" width='238px'><%= text_field iname,:description, {value: g.description ,:class => 'txt fullwidth'} %></td>
        <td width='25px'><div class="inp_btn checkbox bigcheck <%= g.order ? 'active' : '' %>">
        <%= check_box_tag iname+'[order]', g.order, g.order %></td>
        <td width='60px'><%= chosen_src "currency_id", currency_src,g.currency_id,{nil_value: '',add_name: iname, add_class: 'currency_src'} %></td>
        <%= td_sum_field(iname, :gsum ,nil,{value: g.gsum}) %>
        <td class="e_edit td_right"><span class="icon icon_apply" item_id="<%= g.id %>"></span><span class="icon icon_hide_edit" item_id="<%= g.id %>"></span>
        </td>
      </tr>
    <% end %>
           <tr id="new_pgt_item<%= pgt.id %>" class="invisible editable new_row">
        <% iname = ['project_good',pgt.id].join %>
        <%= hidden_field iname,'project_g_type_id', value: pgt.id %>
        <td class="fw" width='220px'><%= text_field iname,:name, {:class => 'txt'} %></td>
        <td width='220px'>
        <%= chosen_src "provider_id", Goodstype.find(pgt.g_type_id).providers, nil,{nil_value: 'Выберите поставщика...',add_name: iname} %></td>
        <td class="caption3" width='115px'><%= text_field iname,:date_supply, {:class => 'txt datepicker'} %></td>
        <td class="caption3" width='238px'><%= text_field iname,:description, {:class => 'txt fullwidth'} %></td>
        <td width='25px'><div class="inp_btn checkbox bigcheck"><%= check_box_tag iname+'[order]', 'false', false %></td>
        <td width='60px'><%= chosen_src "currency_id", currency_src,1,{nil_value: '',add_name: iname, add_class: 'currency_src'} %></td>
        <%= td_sum_field(iname, :gsum) %>
        <td><span class="sub btn_a" id="btn-sub-send" pe_id="<%= pgt.id %>" action='/project_goods/' prm='project_good<%= pgt.id %>'> ok</span></td>
      </tr>
      <tr class="total">
        <td>Итого: </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="3" class="td_right"><%= total_info(total).html_safe %></td>
        
      </tr>
  </tbody>
</table>