<table class="tleads twfixed" id="project_goods<%= pgt.id %>"  model="ProjectGood" action="project_goods" color_cls="ordered">
  <% opened = local_assigns.has_key?(:opened) ? opened : false %>   
  <% get_goods(@project.id,pgt) %>
  <thead class="<%= @goods.count>0 || opened ? '' : 'hidden' %>">
    <%= render partial: 'project_goods/head_row' %>
  </thead>
  <tbody>
    <% @goods.order(:id).each do |g| %>
      <%= render partial: "project_goods/good", locals: {g: g} %>
    <% end %>
    <%= render partial: "project_goods/new_item", locals: {pgt: pgt, opened: opened} %>
    <%= render partial: 'project_goods/total', locals: {opened: opened, pgt: pgt} %>    
  </tbody>
</table>