<table class="tleads twfixed" id="table_<%= pgt.id %>"  model="ProjectGood" action="project_goods" color_cls="ordered">
  <% opened ||= false %>   
  <% get_goods(@project.id, pgt) %>
  <thead class="<%= @goods.size>0 || opened ? '' : 'hidden' %>">
    <%= render partial: 'project_goods/head_row' %>
  </thead>
  <tbody>
    <%= render @goods %>
    <%= render partial: "project_goods/new_item", locals: {pgt: pgt, opened: opened} %>
    <% @cur_id = pgt.id %>
    <%= render partial: 'project_goods/total', locals: {pgt: pgt, opened: opened} %>    
  </tbody>
</table>