<% if first_table == false %>
</tbody></table></div>
<% end %>
<% first_table = false %>
<div class="panel panel-default">
<% if !heading.empty? %>
  <div class="panel-heading table-heading head month"> <%= heading %></div>
<% end %>
<table class="tleads projects">
  <thead>
    <tr>
      <th width="25px"><%= sortable_th(:number,'№') %></th>
      <th><%= sortable_th(:address,'Адрес') %></th>

      <% if is_admin? %>
        <th width='110px'><%= sortable_th(:project_type_id,'Вид проекта') %></th>
        <th width='150px'><%= sortable_th( :client_id,'Заказчик') %></th>
      
        <% if @sort!="users.name" %>
          <th width='120px'><%= sortable_th( :executor_id,'Исполнитель') %></th>
        <% end %>
      <% else %>
        <th width='200px'><%= sortable_th( :project_type_id,'Вид проекта') %></th>
        <th width='220px'><%= sortable_th( :client_id,'Заказчик') %></th>
      <% end %>
      <th style="width: 75px;"><%= sortable_th(:date_start,'Начало') %></th>
      <th width="85px"><%= sortable_th(:date_end_plan,'Оконч.') %> </th>
      <th style="width: 105px;" class=""><%= sortable_th(:footage, 'м2 / Цена') %></th>
      <th class="td_right" style="width: 77px;"><%= sortable_th(:sum_total,'Стоимость') %></th>
      <% if is_admin? %>
        <th></th>
      <% end %>


    </tr>
  </thead>

  <tbody>
