<% first_col = true %>

<% @all_total = [0,0,0,0] %>
<% if @prj_good_types %>
<% @prj_good_types.each do |pgt| %>
  <% total = [0,0,0,0] %>
  <% case @gs %>
  <% when 1 %>
      <% @goods = pgt.goods.where(order: false, project_id: @project.id) %>
  <% when 2 %> 
      <%  @goods = pgt.goods.where(order: true, fixed: false, project_id: @project.id) %>
  <% when 3 %>
      <%  @goods = pgt.goods.where(fixed: true, project_id: @project.id) %>
  <% else %>
      <%  @goods = pgt.goods.where(project_id: @project.id) %>
  <% end %>

  <div class="panel panel-default" id="table_new_pgt_item<%= pgt.id %>">
    <div class="panel-heading table-heading head month"><%= pgt.name %> 
      <span class="sub btn_add right" itm="new_pgt_item<%= pgt.id %>">Добавить позицию</span></div>

    <% if @gs ==2 %> 
      <%= render 'goods_ordered', pgt: pgt, first_col: first_col, opened: opened %>
    <% else %>
      <%= render 'goods', pgt: pgt, first_col: first_col, opened: opened %>
    <% end %>

    <% first_col = false %>
  </div>
<% end %>
<% end %>



