
<div class="box_wrap items_box_param">
<%= hidden_field 'g_type','project_id', value: @project.id %>
<div class="left mgn_right15" style="width:270px ">
<%= chosen_src "g_type[g_type_id]", @gtypes,"g_type",{nil_value: 'Выберите вид товара...'} %>
</div>
<span class="sub btn_a" id="btn-sub-send" pe_id="<%= @project.id %>" action='/project_g_types/' prm='g_type'> Добавить вид товара</span>
<div class="right">
<%= chosen_src "good_state",good_state_src, params[:good_state],{nil_value: 'Все позиции',class: 'tab-chosen'} %>
<div id=pdf>
	<%= link_to image_tag('pdf.png'), project_path(@project,format: :pdf), target: :_blank %> 
</div>
</div>
</div>

<div class="sep_15"></div>

<% first_col = true %>

<% @all_total = [0,0,0,0] %>
<% @prj_good_types.each do |pgt| %>

<% case @gs %>
<% when 1 %>
    <% @goods = pgt.goods.where(order: false) %>
<% when 2 %> 
    <%  @goods = pgt.goods.where(order: true, fixed: false) %>
<% when 3 %>
    <%  @goods = pgt.goods.where(fixed: true) %>
<% else %>
    <%  @goods = pgt.goods %>
<% end %>

<div class="panel panel-default">
<div class="panel-heading table-heading head month" name="pgt<%= pgt.id %>"><%= pgt.goodstype_name %> 
<span class="sub btn_add right" itm="new_pgt_item<%= pgt.id %>">Добавить позицию</span></div>



<% if @gs ==2 %> 
	<%= render 'goods_ordered', pgt: pgt, first_col: first_col %>
<% else %>
  <%= render 'goods', pgt: pgt, first_col: first_col %>
<% end %>


  
  <% first_col = false %>
</div>
<% end %>
<div class="panel panel-default">
<div class="panel-heading table-heading head month">Общий итог:
<span class="right"><%= total_info(@all_total).html_safe %></span></div>
</div>


