<% cur_month  = "" %>
<% cur_user   = nil %>
<% cur_status = nil %>
<% first_table = true %>


    <% @projects.each do |project| %>
        <% new_date = project.date_start? ? project.date_start : Date.today %>


      <% if cur_month != new_date.month && (params[:sort] == "date_start") %>
          <% cur_month = new_date.month %>
          <%= render "head", {:first_table => first_table, :heading => t(new_date.try('strftime',"%B"))+" "+new_date.try('strftime',"%Y") } %>
          <% first_table = false %>
      <% elsif cur_user != user_name(project.executor_id) && (params[:sort] == "users.name")%>
        <% cur_user = user_name(project.executor_id) %>
          <%= render "head", {:first_table => first_table, :heading => user_name(project.executor_id) } %>
          <% first_table = false %>
      <% elsif cur_status != project.status_name && (params[:sort] == "pstatus_id") %>
        <% cur_status = project.status_name %>
        <%= render "head", {:first_table => first_table, :heading => t(project.status_name) } %>
        <% first_table = false %>
      <% elsif first_table %>
          <%= render "head", {:first_table => first_table, :heading => '' } %>
          <% first_table = false %>
      <% end %>

      <tr class="va_middle <%= class_for_project(project) %>">

        <td class="center cell-inner"><%= icon_for_project(project).html_safe %><%= project.number %></td>
        <td><%= project.address %></td>
        <td><%= project.project_type_name %></td>
        <td><%= project.client_name %></td>
        <% if is_admin? %><td><%= project.executor_name %></td> <% end %>

        <td ><%= project.date_start.try('strftime',"%d.%m.%Y") %></td>
        <td ><%= project.date_end_plan.try('strftime',"%d.%m.%Y") %></br> <%= project.last_elongation %></td>
        
        <% if is_admin? %>
          <td><%= project.footage_info.html_safe %></br><%= project.prices %></td>
          <td class="td_right <%= project.sum_total_real ==0 ? '':'red' %>" title="<%= project.sum_total.to_sum %>"><%= project.total.to_sum %></td>
          <%= tool_icons(project,{icons:'edit,show'}) %>
        <% else %>

          <td><%= project.footage_info.html_safe %></br><%= project.executor_prices %></td>
        <td class="td_right <%= project.sum_total_real ==0 ? '':'red' %>"><%= project.executor_sum.to_sum %></td>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</div>
