<div class="subnav submenu">

	<div class="panel-left"> <ul><li id="clients" class="selected ">	<%= link_to 'Клиенты',:clients %> </li> </ul></div>

	<%= sortable_pil "number", "По № договора" %>
	<% if is_admin? %>	
		<%= sortable_pil "users.name", "По исполнителям", 'asc' %>
	<% end %>
	<%= sortable_pil "pstatus_id", "По статусам" %>

	<%= link_to 'Добавить', new_project_path, class: "btn_a btn-add btn_slim right space20" %>
  <%= only_actual_btn %>
 
</div>

	

