<div class="hl hl_a bd">Редактирование проекта
<%= link_to "", @project, method: :delete, data: { confirm: 'Действительно удалить проект?' }, :class=>"icon icon_remove right" %>
</div>

<%= simple_form_for(@project) do |f| %>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Данные</a></li>
    <li><a href="#tabs-2">Площадь и стоимость</a></li>
    <li><a href="#tabs-3">Сроки</a></li>
    <li><a href="#tabs-4">Выплаты</a></li>
    <li><a href="#tabs-5">Заказы</a></li>
  </ul>



<div id="tabs-1" class="ptab">
    
    <div class="box_wrap box_wrap_1">
      <div class="fullwidth">
        <table class="fullwidth tbl_fc fw_form">
        <thead>
        <tr><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th></tr></thead>
        <tbody>
          <tr>
            <td><div class="inp_w"><%= f.input :number,label: 'Номер' %></div></td>
            <td><div class="inp_w"><label>Дата</label><%= f.text_field :date_sign, value: @project.date_sign.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
            <td colspan="3"><div class="inp_w"><%= f.input :address, label: 'Адрес' %></div></td>
          </tr>

          <tr><td class="gr_caption">Вид работы и исполнитель</td></tr>
          <tr>
            <td colspan="2"><div class="inp_w"><%= f.select :project_type_id, options_for_select(ProjectType.order(:name).collect{ |u| [u.name, u.id] }, @project.project_type_id) %></div></td>
            <td><div class="inp_w"><%= f.select :style_id, options_for_select(Style.order(:name).collect{ |u| [u.name, u.id] }, @project.style_id) %></div></td>
            <td colspan="2"><div class="inp_w"><%= f.select :executor_id, options_for_select(User.order(:name).collect{ |u| [u.name, u.id] }, @project.executor_id) %></div></td>
          </tr>

</tbody></table></div></div></div>
<div id="tabs-2" class="ptab">
    
    <div class="box_wrap box_wrap_1">
      <div class="fullwidth">
        <table class="fullwidth tbl_fc fw_form">
        <thead>
        <tr><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th></tr></thead>
        <tbody>

          <tr><td class="gr_caption" colspan="5">Заявленная площадь и стоимость</td></tr>
          <tr>
          <td><div class="inp_w"><%= f.input :footage, label: 'Метраж' %></div></td>
          <td><div class="inp_w"><%= f.input :price, label: 'Цена за м2' %></div></td>
          <td><div class="inp_w"><%= f.input :sum, label: 'Сумма',:input_html => { :value => @project.sum_plan } %></div></td>
          <td><div class="inp_w"><%= f.input :sum_total, label: 'Общая стоимость' %></div></td>
          </tr>
          <tr>
          <td><div class="inp_w"><%= f.input :footage_2, label: 'Метраж 2' %></div></td>
          <td><div class="inp_w"><%= f.input :price_2, label: 'Цена за м2' %></div></td>
          <td><div class="inp_w"><%= f.input :sum_2, label: 'Сумма',:input_html => { :value => @project.sum_2 } %></div></td>
          <td><div class="inp_w"><%= f.input :month_in_gift, label: 'Месяцев в подарок' %></div></td>
          </tr>
          <tr><td class="gr_caption" colspan="5">Фактическая площадь и стоимость</td></tr>
          <tr>
          <td><div class="inp_w"><%= f.input :footage_real, label: 'Метраж' %></div></td>
          <td><div class="inp_w"><%= f.input :price_real, label: 'Цена за м2' %></div></td>
          <td><div class="inp_w"><%= f.input :sum_real, label: 'Сумма',:input_html => { :value => @project.sum_real } %></div></td>
          <td><div class="inp_w"><%= f.input :sum_total_real, label: 'Общая стоимость' %></div></td>
          </tr>
          <tr>
          <td><div class="inp_w"><%= f.input :footage_2_real, label: 'Метраж 2' %></div></td>
          <td><div class="inp_w"><%= f.input :price_2_real, label: 'Цена за м2' %></div></td>
          <td><div class="inp_w"><%= f.input :sum_2_real, label: 'Сумма',:input_html => { :value => @project.sum_2_real } %></div></td>
          <td></td>
          </tr>

</tbody></table></div></div></div>
<div id="tabs-3" class="ptab">
  <div class="box_wrap box_wrap_1">
        <div class="fullwidth">
          <table class="fullwidth tbl_fc fw_form">
          <thead>
          <tr><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th></tr></thead>
          <tbody>
              <tr>
              <td><div class="inp_w"><label>Начало</label><%= f.text_field :date_start, value: @project.date_start.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
              <td><div class="inp_w"><label>Окончание</label><%= f.text_field :date_end_plan, value: @project.date_end_plan.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
              <td><div class="inp_w"><label>Дней</label> <%= number_field_tag :days, @project.days_plan, {class: 'form-control'} %></div></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          </table>
        </div>
   </div>
</div>
<div id="tabs-4" class="ptab">


  <div class="box_wrap box_wrap_1">
    <div class="panel panel-default">
      <div class="panel-heading table-heading head month">Выплаты по проекту</div>
      <table class="tleads">
        <thead>
        <tr><th width="20%"></th><th width="15%">Аванс</th><th width="15%">Аванс 2</th><th width="15%">Финал</th><th width="15%">Итог</th><th width="15%">Долг</th><th></th></tr></thead>
        <tbody>
          <tr><td>Заказчик</td>
              <% i = 0 %>
              <% @cl_payments.each do |cp| %>
                <td><%= cp.sum %></td>
                <% i+=1 %>
              <% end -%>
              <% (3-i).times do %>
                <td></td>
              <% end -%>
              <td id='cl_total'><%= @cl_total %></td>
              <td id='cl_debt'><%= @cl_debt %></td>
              <td></td>
          </tr>
          <tr><td>Дизайнер</td>
              <% 3.times do %>
                <td><span class='add_pay'>Выплатить</span></td>
              <% end -%>
               <% 3.times do %>
                <td></td>
              <% end -%>
          </tr>
          <tr><td>Визуализатор</td>
              <% 3.times do %>
                <td><span class='add_pay'>Выплатить</span></td>
              <% end -%>
              <% 3.times do %>
                <td></td>
              <% end -%>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="tabs-5" class="ptab">
</div>


</div>
  <div class="form-actions">
    <%= f.button :submit, value: 'Сохранить', :class => 'sub btn_a fullwidth' %>
  </div>
<% end %>


