<div class="hl hl_a bd">Редактирование проекта <%= @project.address %>
<%= link_to "", @project, method: :delete, data: { confirm: 'Действительно удалить проект?' }, class: "icon icon_remove right" %>
</div>

<%= hidden_field_tag 'holidays', @holidays %> 
<%= simple_form_for(@project) do |f| %>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Данные</a></li>
    <li><a href="#tabs-2">Площадь и стоимость</a></li>
    <li><a href="#tabs-3">Сроки</a></li>
    <li><a href="#tabs-4">Заказы</a></li>
    <li><a href="#tabs-5">Выплаты</a></li>
    <li><a href="#tabs-6">Файлы</a></li>  
    <% if is_admin? %>  
      <li><a href="#tabs-7">История</a></li>
    <% end %>
    <li class="last"><a href="#tabs-9">Контакты</a></li>
  </ul>
  <div class="right" style="width: 100%"></div>
<div class="box_wrap">

<% if is_manager? %>
  <%= render 'page_1_data', f: f %>
<% else %>
  <%= render 'page_1_data_show', f: f %>
<% end %>

<%= render 'page_2_footage', f: f %>
<%= render 'page_3_dates', f: f %>
<%= render 'page_4_goods', f: f %>


<div id="tabs-5" class="ptab">
  <div class="box_wrap box_wrap_1">
    <div class="panel panel-default">
      <div class="panel-heading table-heading head month">Выплаты по проекту</div>
      <table class="tleads">
        <thead>
        <tr><th width="20%"></th><th width="15%">Аванс</th><th width="15%">Аванс 2</th><th width="15%">Финал</th><th width="15%">Итог</th><th width="15%">Долг</th><th></th></tr></thead>
        <tbody>
          <tr><td>Заказчик</td>
              <% i = 0 %>
              <% @cl_payments.each do |cp| %>
                <td><%= cp.sum.to_sum %></td>
                <% i+=1 %>
              <% end -%>
              <% (3-i).times do %>
                <td></td>
              <% end -%>
              <td id='cl_total'><%= @cl_total.to_sum %></td>
              <td id='cl_debt'><%= @cl_debt.to_sum %></td>
              <td></td>
          </tr>
          <tr><td>Дизайнер</td>
              <% 3.times do %>
                <td><span class='add_pay'>Выплатить</span></td>
              <% end -%>
               <% 3.times do %>
                <td></td>
              <% end -%>
          </tr>
          <tr><td>Визуализатор</td>
              <% 3.times do %>
                <td><span class='add_pay'>Выплатить</span></td>
              <% end -%>
              <% 3.times do %>
                <td></td>
              <% end -%>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div id="tabs-6" class="ptab">
  <div class="box_wide">
    <div class="box_wrap box_wrap_1">
      <div class="panel-left lead_files">  
        <div class="sep_15"></div>
          <% if !@owner.nil? %> 
            <%= render "shared/attach_list" %>
          <% end -%>
      </div>
    </div>
  </div>
</div>


<% if is_admin? %>  
  <div id="tabs-7" class="ptab">
    <div class="box_wide">
      <div class="box_wrap box_wrap_1">
        <div class="historyChange_box">
          <% if @history.size >0 %>
            <%= render "shared/history" %>    
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'page_9_clients', f: f %>

<%= submit_cancel project_page_url %>
<% end %>

</div>


