<div class="hl hl_a bd">Редактирование проекта
<%= link_to "", @project, method: :delete, data: { confirm: 'Действительно удалить проект?' }, :class=>"icon icon_remove right" %>
</div>

<%= simple_form_for(@project) do |f| %>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Данные</a></li>
    <li><a href="#tabs-2">Площадь и стоимость</a></li>
    <li><a href="#tabs-3">Сроки</a></li>
    <li><a href="#tabs-4">Выплаты</a></li>
    <li><a href="#tabs-5">Заказы</a></li>
  </ul>

<div id="tabs-1" class="ptab">
    
    <div class="box_wrap box_wrap_1">
      <div class="fullwidth">
        <table class="fullwidth tbl_fc fw_form">
        <thead>
        <tr><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th></tr></thead>
        <tbody>
          <tr>
            <td><div class="inp_w"><%= f.input :number,label: 'Номер' %></div></td>
            <td><div class="inp_w"><label>Дата</label><%= f.text_field :date_sign, value: @project.date_sign.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
            <td><div class="inp_w"><%= chosen_src :client_id, Client.all, @project,{label: 'Клиент'} %></div></td>
            <td colspan="2"><div class="inp_w"><%= f.input :address, label: 'Адрес' %></div></td>
          </tr>

          <tr><td class="gr_caption">Вид работы и исполнитель</td></tr>
          <tr>
            <td colspan="2"><div class="inp_w"><%= chosen_src :project_type_id, ProjectType.all, @project %></div></td>
            <td><div class="inp_w"><%= chosen_src :style_id, Style.all, @project %></div></td>
            <td colspan="2"><div class="inp_w"><%= chosen_src :executor_id, User.all, @project %></div></td>
          </tr>
          <tr><td class="gr_caption">Статус:</td></tr>
          <tr>
            <td><div class="inp_w"><%= chosen_src :pstatus_id, ProjectStatus.all, @project %></div></td>
            <td class='va_middle'><%= f.input :attention, :as => :boolean, label: 'Особое внимание', class: 'inp_btn checkbox'  %></td>
            <td></td>
            </tr>

</tbody></table></div></div></div>
<div id="tabs-2" class="ptab">
    
    <div class="box_wrap box_wrap_1">
      <div class="fullwidth">
        <table class="fullwidth tbl_fc fw_form">
        <thead>
        <tr><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th></tr></thead>
        <tbody>

          <tr><td class="gr_caption" colspan="5">Заявленная площадь и стоимость</td></tr>
          <tr>
          <%= td_sum_field(f, :footage, 'Метраж', true) %>
          <%= td_sum_field(f, :price, 'Цена за м2') %>
          <%= td_sum_field(f, :sum, 'Сумма') %>
          <td class="va_bottom"> 
            <% if @project.footage_2==0 %>
              <span class="sub btn_a" id="add_footage">+</span>
            <% end %> 
          </td>
          <%= td_sum_field(f, :sum_total, 'Общая стоимость') %>         
          </tr>
          <tr <%= @project.footage_2==0 ? 'style=display:none;' : '' %>  id="tr_footage_2">
           <%= td_sum_field(f, :footage_2, 'Метраж 2', true) %>
          <%= td_sum_field(f, :price_2, 'Цена за м2') %>
          <%= td_sum_field(f, :sum_2, 'Сумма') %>
          <td></td>
          <td><div class="inp_w"><%= f.input :month_in_gift, label: 'Месяцев в подарок' %></div></td>
          </tr>
          <tr><td class="gr_caption" colspan="5">Фактическая площадь и стоимость</td></tr>
          <tr>

          <%= td_sum_field(f, :footage_real, 'Метраж', true) %>
          <%= td_sum_field(f, :price_real, 'Цена за м2') %>
          <%= td_sum_field(f, :sum_real, 'Сумма') %>
          <td></td>
          <%= td_sum_field(f, :sum_total_real, 'Общая стоимость') %>
          </tr>
          <tr <%= @project.footage_2==0 ? 'style=display:none;' : '' %>  id="tr_footage_2_real">
          <%= td_sum_field(f, :footage_2_real, 'Метраж 2', true) %>
          <%= td_sum_field(f, :price_2_real, 'Цена за м2') %>
          <%= td_sum_field(f, :sum_2_real, 'Сумма') %>
          <td></td>
          </tr>

</tbody></table></div></div></div>
<div id="tabs-3" class="ptab">
  <div class="box_wrap box_wrap_1">
        <div class="fullwidth">
          <table class="fullwidth tbl_fc fw_form">
          <thead>
          <tr><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th><th width="20%"></th></tr></thead>
          <tbody>
              <tr>
              <td><div class="inp_w"><label>Начало</label><%= f.text_field :date_start, value: @project.date_start.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
              <td><div class="inp_w"><label>Окончание</label><%= f.text_field :date_end_plan, value: @project.date_end_plan.try('strftime',"%d.%m.%Y"), class: "txt datepicker" %></div></td>
              <td><div class="inp_w"><label>Рабоч. дней без уч. праздников</label> <%= number_field_tag :days, @project.days_plan, {class: 'form-control'} %></div></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          </table>
          <div class="sep_3"></div>
          <div id='prj_elongations'>
          <%= render 'elongations' %>
          </div>
        </div>
   </div>
</div>
<div id="tabs-4" class="ptab">


  <div class="box_wrap box_wrap_1">
    <div class="panel panel-default">
      <div class="panel-heading table-heading head month">Выплаты по проекту</div>
      <table class="tleads">
        <thead>
        <tr><th width="20%"></th><th width="15%">Аванс</th><th width="15%">Аванс 2</th><th width="15%">Финал</th><th width="15%">Итог</th><th width="15%">Долг</th><th></th></tr></thead>
        <tbody>
          <tr><td>Заказчик</td>
              <% i = 0 %>
              <% @cl_payments.each do |cp| %>
                <td><%= cp.sum.to_sum %></td>
                <% i+=1 %>
              <% end -%>
              <% (3-i).times do %>
                <td></td>
              <% end -%>
              <td id='cl_total'><%= @cl_total.to_sum %></td>
              <td id='cl_debt'><%= @cl_debt.to_sum %></td>
              <td></td>
          </tr>
          <tr><td>Дизайнер</td>
              <% 3.times do %>
                <td><span class='add_pay'>Выплатить</span></td>
              <% end -%>
               <% 3.times do %>
                <td></td>
              <% end -%>
          </tr>
          <tr><td>Визуализатор</td>
              <% 3.times do %>
                <td><span class='add_pay'>Выплатить</span></td>
              <% end -%>
              <% 3.times do %>
                <td></td>
              <% end -%>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="tabs-5" class="ptab">
</div>
</div> <%= submit_cancel projects_url %>
<% end %>


