<div class="box_wrap box_wrap_1">

	<div class="panel-left">
		<table class="tbl_fc tbl_fc_1">
		<tr><td class="caption">Клиент:</td>
		    <td><div class="lbl"><%= @project.client_name %></div></td></tr>
		<tr><td class="caption">Адрес:</td>
			<td><div class="lbl"><%= @project.address %></div></td></tr>

		<tr><td class="caption">Исполнитель:</td>
		    <td><div class="lbl"><%= @project.executor_name %></div></td></tr>
		<tr><td class="caption">Вид работы:</td>
			<td><div class="lbl"><%= @project.project_type_name %></div></td></tr>    
		
		</div>
		</td></tr>

<% if !is_admin? %>
		</table>
	</div>

  <div class="panel-right">
	<table class="tbl_fc tbl_fc_1">
<% end %>

		<tr><td class="caption">Метраж (1/2):</td>
		    <td><div class="lbl">
		    <%= @project.footage_info.html_safe %>
		    
		    	
		    </div></td></tr>
		<tr><td class="caption">Цена за м2:</td>
			<td><div class="lbl">
			<% if is_admin? %>
				<%= @project.prices %>
			<% else %>
			  <%= @project.executor_prices %>
			<% end %>	
			</div></td></tr>

		<tr><td class="caption">Сроки:</td>
		    <td><div class="lbl"><%= @project.date_start.try('strftime',"%d.%m.%Y") %> / <%= @project.date_end_plan.try('strftime',"%d.%m.%Y") %> = <%= @project.days_plan %>дн.</div></td></tr>
		<tr><td class="caption">Последнее продление:</td>
			<td><div class="lbl"><%= @project.last_elongation %></div></td></tr>    
		
		</div></td></tr>

		</table>
  </div>


<% if is_admin? %>
  <div class="panel-right">
    <div class="comments_box">
      <%= render "shared/comments" %>
    </div>
  </div>
<% end %>
</div>