<p id="notice"><%= notice %></p>

<h1>Costings</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costings.each do |costing| %>
      <tr>
        <td><%= costing.project %></td>
        <td><%= costing.user %></td>
        <td><%= link_to 'Show', costing %></td>
        <td><%= link_to 'Edit', edit_costing_path(costing) %></td>
        <td><%= link_to 'Destroy', costing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costing', new_costing_path %>
