<% cur_month  = "" %>
<% first_table = true %>
<% @sum = 0 %>


  <% @payments.each do |payment| %>
    <% new_date = payment.date? ? payment.date : Date.today %>
      <% if cur_month != new_date.month && (params[:sort] == "date" || (params[:sort] == nil)) %> 
          <% cur_month = new_date.month %>
          <%= render "head", {:first_table => first_table, :heading => t(new_date.try('strftime',"%B"))+" "+new_date.try('strftime',"%Y") } %>
          <% first_table = false %>  
          <% @sum = 0 %>
      <% end %>
      <tr>
      	<td><%= payment.date %></td>
      	<td><%= payment.payment_type_name %></td>
      	<td><%= payment.purpose_name %></td>
      	<td><%= payment.whom_name %></td>
        <td><%= payment.project_address %></td>
        <td class="td_right"><%= payment.sum.to_sum %></td>
        <td><%= payment.description %></td>
        <%= td_tool_icons(payment, 'edit,delete' )%>
        <% @sum = @sum + payment.sum %>
      </tr>
    <% end %>
    <%= render 'bottom' %>
  </tbody>
</table>
</div>
<br>

</div>