
<div class="items_box_head">
<div class="panel-left">
<%= render_navigation(:level => 2) %>
</div>

<%= form_tag payments_path, :method => 'get', :id => "pay_search", class: 'index_filter' do %>

<div class="combobox short_search left"> 

<label class="combobox left"> 
	<%= chosen_src 'payments_purpose_id', PaymentPurpose.all, params[:payment_purpose_id],{order: 'id', nil_value: 'Основание...'} %>
</label>

<label class="combobox left">
	<%= chosen_src "payments_payment_type", PaymentType.all, params[:payments_payment_type], {nil_value: 'Вид платежа...'} %> 
</label>

<label class="combobox left">
	<%= chosen_src "payments_project_id", @projects, params[:payments_project_id], {nil_value:'Проект...', p_name: "address"} %> 
</label>

</div>
<% end %>
<%= link_to 'Добавить',new_payment_path, class: "btn_a btn-add btn_slim right" %>

</div>

<div class ="container">
  <div id="div_tpayments">
    <%= render "payments" %>
  </div>
</div>