<% cur_month  = "" %>
<% cur_user   = nil %>
<% cur_reason = nil %>
<% first_table = true %>

<% @absences.each do |abs| %>
    <% new_date = abs.dt_from? ? abs.dt_from : Date.today %>

      
      <% if cur_month != new_date.month && (params[:sort] == "dt_from" || (params[:sort] == nil)) %> 
          <% cur_month = new_date.month %>
          <%= render "head", {:first_table => first_table, :heading => t(new_date.try('strftime',"%B"))+" "+new_date.try('strftime',"%Y") } %>

      <% elsif cur_user != user_name(abs.user_id) && (params[:sort] == "users.name")%>
        <% cur_user = user_name(abs.user_id) %>
          <%= render "head", {:first_table => first_table, :heading => user_name(abs.user_id) } %>
     
      <% elsif cur_reason != abs.reason_name && (params[:sort] == "reason_id")%>
        <% cur_reason = abs.reason_name %>
        <%= render "head", {:first_table => first_table, :heading => t(abs.reason_name) } %>
      <% end %>
        <% first_table = false %>        

        <tr class="<%= class_for_abs(abs) %>" >   
        <td><%= abs.user_name %></td>   
        <td><%= abs.reason_name %></td>
        <td><%= abs.project_name %></td>
        <td class="center"><%= abs.dt_from.try('strftime',"%d.%m.%Y %H:%M") %></td>
         <td class="center"><%= abs.dt_to.try('strftime',"%d.%m.%Y %H:%M") %></td>

          <%= td_tool_icons(abs,'edit,show','href') %>

      </tr>
<% end %>
</tbody></table></div>
<br>