<div class="panel panel-default">
  <div class="panel-heading table-heading head month"> 
    <span class='cal-next' cur-period='<%= @current_month- 1.month %>'><<</span> 
      <%= t(@current_month.try('strftime',"%B"))+" "+@current_month.try('strftime',"%Y") %> 
      <span class='cal-next' cur-period='<%= @current_month+1.month %>'>>></span>
  </div>
  <table class="tcalendar">
    <thead><tr> 
    <% @wdays.each do |day| %>
       <th class="day <%= ['сб','вс'].include?(day) ? 'red':''%>"><%= day %></th>
    <% end %>
    </tr></thead>
    <body>
      <% while @curr_day <= @current_month.end_of_month %>
        <tr>
        <% 7.times do |day| %>
          <td class="day <%= @curr_day.beginning_of_month == @current_month.beginning_of_month ? '':'nday' %> <%= @curr_day.beginning_of_day == Date.today ? 'curday' : '' %>">
          <div class="inday">
          <span class="numday"><%= @curr_day.strftime('%d') %></span> 
          <% abs = day_abs(@curr_day) %>
          <% abs.each do |a|%>
              <%= span_tooltip( [a.user_name,a.reason_name].join(' '), 
              tooltip_str_from_hash(
                {a.user_name => ' ', 'причина:' => a.reason_name, 'объект:' => a.project_name, 
                  'c  ' => a.dt_from.try('strftime',"%d.%m.%Y %H:%M"),'по'=>a.dt_to.try('strftime',"%d.%m.%Y %H:%M")}
                ),"abs"+a.reason_id.to_s , a, is_admin? || a.user == current_user) %>
          <% end %>
          </div></td>
          <% @curr_day=@curr_day+1 %>
        <% end %>
        </tr>
      <% end %>
    </body>
  </table>    
</div>


