<div class="panel panel-default">
  <div class="panel-heading table-heading head month"> 
    <span class='cal-next' cur-period='<%= @current_month-1.month %>'><<</span> 
      <%= month_year(@current_month) %> 
    <span class='cal-next' cur-period='<%= @current_month+1.month %>'>>></span>
  </div>
  
  <% day_births = User.where('date_birth is NOT NULL').pluck(:name,:date_birth).map{|a,b| [b.try('strftime','%d.%m'),a] }.to_h %>

  <table class="tcalendar">
    <thead><tr> 
    <% @wdays.each do |day| %>
       <th class="day <%= ['сб','вс'].include?(day) ? 'red':''%>"><%= day %></th>
    <% end %>
    </tr></thead>
    <body>
      <% while @curr_day <= @current_month.end_of_month %>
        <tr>
        <% 7.times do |day| %>
          <td class="<%= day_class(@curr_day,@current_month) %>">
          <div class="inday">
          <span class="numday"><%= @curr_day.strftime('%d') %></span> 
          <% abs = day_abs(@curr_day) %>
          <% abs.each do |a|%>
              <%= span_tooltip( "<b>#{a.user_name}</b><br> #{a.reason_name}", 
                  abs_description(a), abs_class(a), a, is_manager? || a.user == current_user) %>
          <% end %>
              <%= date_birth_li(day_births, @curr_day) %>
          </div></td>
          <% @curr_day=@curr_day+1 %>
        <% end %>
        </tr>
      <% end %>
    </body>
  </table>    
</div>


