<% is_new = ['new','create'].include?(action_name) %>
<% is_author = is_author_of?(@absence) %>

<%= form_for(@absence) do |f| %>

<% if !is_manager? %>
  <%= f.hidden_field :user_id, value: @absence.user_id ||= current_user.id %>
<% end %>

<%= render 'shared/error_messages', object: f.object %>
  
<div class="vue_app">

  <section class="grid_table_absence">
    <div class="label_col">Причина:</div> 
    <div>
       <% if is_manager? || is_new || (@absence.new_reason_id.nil? &&
             is_author && allow_days_to_edit(@absence.created_at, 1)) %>
          <v-chosen name="reason" model="absence" placeholder="Укажите причину..."/>   
      <% else %>
        <div class="lbl">{{reason.label}}</div>
      <% end %>
    </div>
    
    <% if !is_new %>
      <div class="label_col">=></div>
      <div>
        <v-chosen name="new_reason" model="absence" placeholder="Новая причина..."/>
      </div>
    <% end %>
  </section>
  
  <transition name="slide-fade">
    <section class="grid_table_absence" v-show="equals(reason,[2,3])">  
      <div class="label_col">Проект:</div> 
      <div>
        <v-chosen name="project" placeholder="Укажите объект..."/>
      </div>
      <transition name="slide-fade">
        <div class="label_col" v-show="equals(reason,2)">Цель:</div>
      </transition>
      <transition name="slide-fade">
        <div v-show="equals(reason,2)" >
          <v-chosen name="target" placeholder="Укажите цель..."/> 
        </div>
      </transition>
    </section>
  </transition>
    
  <section class="grid_table_absence">
    <div class="label_col">Дата c:</div> 
    <div class="inp_">
      <%= f.text_field :dt_from, value: @dt_from, label: false, class: "txt datepicker left" %>
      <%= f.text_field :dt_to, value: @dt_to, label: false, class: "txt datepicker right", ":disabled"=>"!checked" %>
      <div class="caption_to"><m-checkbox v-model="checked" label="по:"/></div>
    </div>
    <div class="label_col">Время:</div> 
    <div>
      <div class="inp_w"><%= f.text_field :t_from, value: @t_from, label: false, class: "txt timepicker"%></div>
      <span class="time_separator">–</span>
      <div class="inp_w"><%= f.text_field :t_to, value: @t_to, label: false, class: "txt timepicker" %></div></td>
    </div>
  </section>

  <section class="grid_lbl_name">
    <div class="label_col">Комментарий:</div> 
    <%= f.text_area :comment, class: 'txt alone', label: false, "v-model"=>"comment", ":placeholder"=>"placeholder()" %>
  </section>

  <% if is_manager? %>
    <section class="grid_table_absence">
      <div class="label_col">Сотрудник:</div> 
      <div>
        <v-chosen name="user" placeholder="Выберите сотрудника..."/>
      </div>
    </section>
    <div class="before160" v-if="equals(reason, 6) || equals(new_reason, 6)">
      <m-checkbox v-model="approved" name="approved" model="absence" label="Согласовано"/> 
    </div>
  <% end %>

  <% if !is_new && is_author %>
    <div class="before160">
      <m-checkbox v-model="canceled" name="canceled" model="absence" label="Отменено"/>
    </div> 
  <% end %>

  <transition name="bounce">
    <div class='shops before_30' id='dshops' v-if="equals(reason,3)">
        <%= render "shops" %>
    </div>
  </transition>

  <% if is_manager? || is_new || is_author %>
    <%= submit_cancel absences_url, {classValid: "!f_valid"} %>
  <% end %>

<% end %>
</div>

<%= render 'form_vue' %>