<%= simple_form_for(@absence) do |f| %>
<%= f.hidden_field :reopen,{action_name: action_name} %>

<% if !is_admin? %>
  <%= f.hidden_field :user_id,  :value => @absence.user_id ||= current_user.id %>
<% end %>

<%= render 'shared/error_messages', object: f.object %>
  
  <table class="tbl_fc tbl_fc_1">
    <tr><td class="caption">Причина:</td>
    <td  colspan="3">         
      <% if is_admin? || action_name == 'new' || 
            (!@absence.created_at.nil? && @absence.user_id == current_user.id && @absence.created_at > (Date.today-3.day) && @absence.new_reason_id.nil? )  %>
        <div class="inp_w"><%= chosen_src 'absence[reason_id]',@reasons, @absence.reason_id %></div>
      <% else %>
        <div class="lbl"><%= @absence.reason_name %><%= f.hidden_field :reason_id %></div>
      <% end %>
    </td>
    <% if controller.action_name == 'edit'  %>
      <td class="caption caption_sm">=></td>
        <td ><div class="inp_w"><%= chosen_src 'absence[new_reason_id]', @reasons,@absence.new_reason_id,{nil_value: 'Новая причина...'} %>
        </div></td>
    <% else %>
        <td colspan="2"></td>
    <% end -%>
    
    </tr>
    <% disp_obj = @absence.reason_id==2 || @absence.reason_id==3 ? 'table-row;' : 'none;' %>
    <% disp_trgt = @absence.reason_id==2 ? ' ' : 'display: none;' %>
    <tr style="display: <%= disp_obj %>" class='p_obj'>
      <td class="caption p_obj">Проект:</td>
      <td colspan="3" class="p_obj">
      <div class="inp_w">
      <%= chosen_src 'absence[project_id]', @projects,@absence.project_id,{p_name: 'address'} %></div></td>
      <td class="caption caption_sm"><span style="<%= disp_trgt %>" class="p_trgt"> Цель: </span></td>
      <td ><span style="<%= disp_trgt %>" class="p_trgt">
      <%= chosen_src 'absence[target_id]', @targets, @absence.target_id %></span></td>
    </tr>

    <tr><td class="caption">Дата c:</td>
      <td width='200px;'><div class="inp_"><%= f.text_field :dt_from, :value => @dt_from, label: false, class: "txt datepicker" %></div></td>
      <td class="caption caption_to"><%= f.hidden_field :checked %><span class="check_img <%= @checked ? 'checked' : '' %>" id='dt_to_check'></span> по:</td>
      <td width='180px;'><div class="inp_">
        <% if @checked %>
          <%= f.text_field :dt_to, :value => @dt_to, label: false, class: "txt datepicker" %>
        <% else %>
          <%= f.text_field :dt_to, :value => @dt_to, label: false, class: "txt ", disabled: 'disabled' %>
        <% end %>
        </div></td>
      <td class="caption caption_sm">Время:</td>
      <td >
        <div class="inp_w"><%= f.text_field :t_from, :value => @t_from, label: false, class: "txt timepicker" %></div>
        <span class="time_separator">–</span>
        <div class="inp_w"><%= f.text_field :t_to, :value => @t_to, label: false, class: "txt timepicker" %></div></td>
      <td></td>
    </tr>

      <tr><td class="caption">Комментарий:</td>
        <td colspan="5"><div class="inp_w" ><%= f.text_area :comment, class: 'txt alone',label: false %></div></td></tr>
    <% if is_admin? %>
      <tr><td class="caption">Сотрудник:</td>
          <td width='490px;' colspan="3"><div class="inp_w" >
           <%= chosen_src 'absence[user_id]', User.all, @user %></div>
      </td></tr>

    <% end %>
        
    

  </table>


<div class="sep_3"></div>

<div class='shops' id='dshops' style="display:<%= @absence.reason_id==3 ? 'block;' : 'none;'%>" >
<% if !@absence.id.nil? %>
    <%= render "shops" %>
    <div class="sep_3"></div>
<% end %>    
</div>



<% if is_admin? || action_name == 'new' || @absence.user_id == current_user.id %>
  <%= submit_cancel absences_url %>          
<% end %>

<% end %>