
<% if first_table == false %>
</tbody></table></div>
<% end %>
<% first_table = false %>
<div class="panel panel-default">
  <div class="panel-heading table-heading head month"> <%= heading %></div>
  <table class="tleads ">
   <thead>
    <tr>
      <th width="90px"><%= sortable_th(:dt_from,'Дата с') %></th>
      <th width="90px"><%= sortable_th(:dt_to,'Дата по') %></th>
      <th width="190px"><%= sortable_th(:user_id,'Сотрудник') %></th>
      <th width="150px"><%= sortable_th(:reason_id,'Причина') %> </th>
      <th ><%= sortable_th(:project_id,'Адрес проекта/объекта') %> </th>
      <th width="45px"><%= sortable_th(:dt_from,'c') %></th>   
      <th width="45px"><%= sortable_th(:dt_to,'по') %></th>
      
      <th class="edit_delete"></th>
    </tr>
  </thead>

  <tbody>

