
<div class="panel panel-default">
<table class="tleads" id="ashops" model="AbsenceShops" action="absence_shops">
  <thead>
    <tr>
      <th width="380px" class="center">Магазин</th>
      <th class="center">Цель</th>
      <th class="edit_delete"></th>
    </tr>
  </thead>

  <tbody>

    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.shop_name %></td>
        <td><%= shop.target_name %></td>
        <%= td_tool_icons(shop, 'delete','span') %>
      </tr>
    <% end %>

 
    <tr><%= hidden_field 'shop','absence_id', value: @absence.id %>
      <td class="caption3"><span>Новый магазин: </span><div class="inp2" >
      <%= select_options_with_special('shop[shop_id]','Выберите...','* другой', Provider.order(:name), @shop.shop_id) %>
      </div> </td>
      
      <td> <%= select "shop", :target_id, content_tag(:option,'Выберите...',:value=>0)+options_for_select(@shop_targets.collect{ |u| [u.name, u.id] },0),{},{class: 'chosen'} %>
      </td>
      <td><span class="sub btn_a" id="btn-sub-send" absid="<%= @absence.id %>" action='/absence_shops/' prm='shop'> Добавить</span></td>
    </tr>

  </tbody>
</table>

</div>
