<%= render "sortmenu" %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :page_num, @page+1 %>

<div id="div_tabsences">
  <% if params['sort']=='calendar' %>
    <%= render "calendar" %>
  <% else %>
    <div id="page_1">
    	<%= render "absences" %>
    </div>
    <div id="page_2"/>
  <% end %>  
</div>
