<% g = project_good %>
<% opened ||= false  %>

<% if check_new_table_head(g, :goodstype_id) %>
  <% if @first_table == false %>
    <% @no ||=1 %>
    <% @no = @no+1 %>
    <%= render 'project_goods/new_item', pgt: @last_good.goodstype %>  
    <%= render 'project_goods/total', pgt: @last_good.goodstype_id %> 
    </tbody></table></div>
  <% end %>
  <% @last_good = g %>
  <div class="panel panel-default good_group" id="div_coll_<%= g.goodstype_id %>" grp="<%= g.goodstype_id %>">
    <div class="panel-heading table-heading head month"><%= g.goodstype.name %> 
      <span class="sub btn_add right" itm="<%= g.goodstype_id %>">Добавить позицию</span></div>
  <table class="tleads twfixed" id="table_<%= g.goodstype_id %>" model="ProjectGood" action="project_goods" color_cls="ordered">
    <% opened ||= false %>   
    <thead class="<%= 1>0 || opened ? '' : 'hidden' %>">
      <%= render partial: 'project_goods/head_row' %>
    </thead>
    <tbody>
  <% @first_table = false %>

<% end %>

<%= render 'project_goods/goods_row', g: g %>
