<% if total[1]>0 %>
<tr class="total">
    <% case params[:good_state] %> 
    <% when '1' %> 
      <td colspan="7">Итого предложено: <%= total_info(total).html_safe %></td>
    <% when '2' %>
      <td colspan="7">Итого заказано: <%= total_info(total_order).html_safe %></td>
    <% when '3' %>
      <td colspan="7">Итого закрыто: <%= total_info(total).html_safe %></td>
    <% else %>
      <td colspan="3">Итого предложено: <%= total_info(total).html_safe %></td>
      <td colspan="4">Итого заказано: <%= total_info(total_order).html_safe %></td>    
    <% end %>
</tr>
<% end -%>