<div class="hl hl_a bd">База знаний
<%= link_to "", @wiki_record, method: :delete, data: { confirm: 'Действительно удалить знание?' }, :class=>"icon icon_remove right" %>
</div>

<%= simple_form_for(@wiki_record) do |f| %>
  
  <div class="box_wide">
  <div class="box_wrap box_wrap_1">

    <div class="panel-left">  
    <table class="tbl_fc">
    	<tr><td class="caption">Название:</td>
    	    <td><div class="inp_w"><%= f.input :name, label: false %></div></td></tr>
			<tr><td class="caption">Описание:</td>
		    <td><div class="inp_w tinymce"><%= f.text_area :description, class: 'txt  tinymce', label: false %></div>
			</td></tr>
			<tr><td class="caption">Папка:</td>
			<td><div class="inp_w">
			<%= f.select :parent_id, content_tag(:option,'Корневая папка',:value=>0)+options_for_select(@wiki_folders.collect{ |u| [u.name, u.id] },@wiki_record.parent_id) %></div>
			</td></tr>
			<tr><td class="caption">Категория:</td>
			<td><div class="inp_w">
			<%= f.select :wiki_cat_id, content_tag(:option,'Без категорий',:value=>0)+options_for_select(@wiki_cats.collect{ |u| [u.name, u.id] },@wiki_record.wiki_cat_id),{}, {class: 'schosen'} %></div>
			</td></tr>
			<tr><td></td><td><%= f.input :admin, :as => :boolean, label: 'Только для админов' %></td></tr>
			<tr><td class="caption"></td>
			<td>
				<%= link_to 'Отмена', wiki_records_path, :class => "sub btn_a btn_reset"%>
				<%= f.button :submit, value: 'Сохранить', :class => 'sub btn_a' %></td></tr>
		</table>
		</div>
	<% if !@owner.nil? %>	
		<div class="panel-right">
          <%= render "shared/attach_list" %>
        </div>
         <% end %>
<% end %>
