<table class="">
  <tbody>
    <% @wiki_records.each do |wiki_record| %>
    <% @files = wiki_record.attachments %>
  
      <tr class="tr_folder" item="<%= wiki_record.id %>">
        <td class="td_folder"><span class="folder icon <%= wiki_record.admin ? 'admin' : '' %>" id='folder<%= wiki_record.id %>'> </span></td>
        <td class="wiki_name"><span><%= wiki_record.name %></span></tr></tr>


      <tr class="hidden child_data" id="chitem_<%= wiki_record.id %>"></tr>
    <% end %>
  </tbody>
</table>

