<div class="panel panel-default">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Что нужно сделать?
</th>
      <th width="60px" class="center">Coder</th>
      <th width="60px" class="center">Boss</th>
      <th class="edit_delete"></th>
</div>

</th>
    </tr>
  </thead>

  <tbody>
    <% @develops.each do |develop| %>
      <tr>
        <td><%= develop.name %></td>
        <td><span class="check_img <%= develop.coder ? "checked" :"" %>" developid="<%=develop.id%>" chk="coder"></span></td>
        <td><span class="check_img <%= develop.boss ? "checked" :"" %>" developid="<%=develop.id%>" chk="boss"></span></td>
        <%= edit_delete(develop) %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>