<table class="table table-striped">
  <thead>
    <tr>
      <th>Что нужно сделать?</th>
      <th>Coder</th>
      <th>Boss</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @develops.each do |develop| %>
      <tr>
        <td><%= develop.name %></td>
        <td><span class="check_img <%= develop.coder ? "checked" :"" %>" developid="<%=develop.id%>" chk="coder"></span></td>
        <td><span class="check_img <%= develop.boss ? "checked" :"" %>" developid="<%=develop.id%>" chk="boss"></span></td>
        <td><%= link_to link_to image_tag('edit.png'), edit_develop_path(develop) %>
        <%= link_to link_to image_tag('delete.png'), develop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>