<div class="hl hl_a bd">Описание задачи:
<%= link_to "", @develop, method: :delete, data: { confirm: 'Действительно удалить задачу?' }, :class=>"icon icon_remove right" %>
</div>


<%= simple_form_for(@develop) do |f| %>
	<div >
		<table class="tbl_fc tbl_fc">
		<tr><td class="caption">Наименование:</td>
		    <td><div class="inp_w"><%= f.input :name, label: false %></div></td></tr>
	    </table>
	</div>

  <div class="box_wide">
  <div class="box_wrap box_wrap_1">

    <div class="panel-left">  
    <table class="tbl_fc">
    	<tr><td class="caption">Проект:</td>
			<td><div class="inp_w">
			<%= f.select :project_id, options_for_select(@dev_projects.collect{ |u| [u.name, u.id] },@develop.project_id) %></div>
			</td></tr>
		<tr><td class="caption">Статус:</td>
			<td><div class="inp_w">
			<%= f.select :dev_status_id, options_for_select(@dev_statuses.collect{ |u| [u.name, u.id] },@develop.dev_status_id) %></div>
			</td></tr>			

		<tr><td class="caption">Приоритет:</td>
			<td><div class="inp_w">
			<%= f.select :priority_id, options_for_select(@priorities.collect{ |u| [u.name, u.id] },@develop.priority_id) %></div>
			</td></tr>			
		<tr><td class="caption">Ответственный:</td>
			<td><div class="inp_w">
			<%= f.select :ic_user_id, options_for_select(@users.collect{ |u| [u.name, u.id] },@develop.ic_user_id || 1) %></div>
			</td></tr>						
		<tr><td class="caption">Описание:</td>
		    <td><div class="inp_w"><%= f.text_area :description, class: :txt, label: false %></div></td></tr>

		    		<tr><td class="caption"></td>
			<td>
				<%= link_to 'Отмена', develops_path, :class => "sub btn_a btn_reset"%>
				<%= f.button :submit, value: 'Сохранить', :class => 'sub btn_a' %></td></tr>

	</table>
    </div>
    <div class="panel-right">
    	<p><label for="dev_file"> <a class="btn_c btn_add"><span class="pict"><span class="icon icon_file"></span></span>Добавить файл</a> </label></p>
    	<div class="file_progress">
    		<div class="progress">
    			<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
    				<span class="sr-only">20% Complete</span>
    			</div>
    		</div>
    	</div>

    	<input id="dev_file" type="file" devid="<%= @develop.id %>" name="file" data-url="/file" multiple="" style="display: none;">
    	<div class="files_list_a">
    		<%= render "shared/files" %>
    	</div>

    	<div class="sep_3"></div>
    	<div class="historyChange_box">
    		<% if @history.count >0 %>
    		<%= render "shared/history" %>    
    		<% end %>
    	</div>

    </div>



  </div>
  </div>



<% end %>

