<div class="hl hl_a bd">Описание задачи:
<%= link_to "", @develop, method: :delete, data: { confirm: 'Действительно удалить задачу?' }, :class=>"icon icon_remove right" %>
</div>


<%= simple_form_for(@develop) do |f| %>
	<div >
		<table class="tbl_fc tbl_fc">
		<tr><td class="caption">Наименование:</td>
		    <td><div class="inp_w"><%= f.input :name, label: false %></div></td></tr>
	    </table>
	</div>

  <div class="box_wide">
  <div class="box_wrap box_wrap_1">

    <div class="panel-left">  
    <table class="tbl_fc">
    	<tr><td class="caption">Проект:</td>
			<td><div class="inp_w">
			<%= chosen_src :project_id, @projects, @develop %></div>
			</td></tr>
		<tr><td class="caption">Статус:</td>
			<td><div class="inp_w">
			<%= chosen_src :dev_status_id, @dev_statuses, @develop %></div>
			</td></tr>			

		<tr><td class="caption">Приоритет:</td>
			<td><div class="inp_w">
			<%= chosen_src :priority_id, @priorities, @develop %></div>
			</td></tr>			
		<tr><td class="caption">Ответственный:</td>
			<td><div class="inp_w">
			<%= chosen_src :ic_user_id, @users, @develop %></div>
			</td></tr>						
		<tr><td class="caption">Описание:</td>
		    <td><div class="inp_w"><%= f.text_area :description, class: :txt, label: false %></div></td></tr>

		    		<tr><td class="caption"></td>
			<td>
				<%= link_to 'Отмена', develops_path, :class => "sub btn_a btn_reset"%>
				<%= f.button :submit, value: 'Сохранить', :class => 'sub btn_a' %></td></tr>

	</table>
    </div>
    <div class="panel-right">
    	<% if !@owner.nil? %>	
    		<%= render "shared/attach_list" %>
    	<% end -%>

    	<div class="sep_3"></div>
    	<div class="historyChange_box">
    		<% if @history.count >0 %>
    		<%= render "shared/history" %>    
    		<% end %>
    	</div>

    </div>



  </div>
  </div>



<% end %>

