<h2>Описание, выполнение и проверка разработок</h2>

<%= form_tag develops_path, :method => 'get', :id => "develops_search" do %>
  <div class="input-group left"> 
    <%= text_field_tag :search, params[:search], :class => "search_area" %>
   
  </div>
  
  <div class="btn-group btn-group-xs right" data-toggle="buttons">
  <label class="<%= " #{switch_active "check"} "%>" show="check">
    <input type="radio" name="options" id="dev_check1" autocomplete="off" checked> К проверке
  </label>
  <label class="<%= " #{switch_active "new"} "%>" show="new">
    <input type="radio" name="options" id="dev_new1" autocomplete="off"> Новые
  </label>
  <label class="<%= " #{switch_active "all"} "%>" show="all">
    <input type="radio" name="options" id="dev_all" autocomplete="off"> Все
  </label>
</div>

  <div id="develops_list"><%= render 'develops' %></div>
<% end %>


<br>

<%= link_to 'Добавить', new_develop_path, class: "btn btn-success" %>
