<div class="hl hl_a bd">Описание, выполнение и проверка разработок</div>

<div class="items_box_head">
 <%= form_tag develops_path, :method => 'get', :id => "develops_search" do %>
  <div class="input-group left"> 
    <%= text_field_tag :search, params[:search], :class => "search_area txt" %>
  </div>



<div class="btn-group btn-group-xs right" data-toggle="buttons">
  <label class="<%= switch_active "check" %>" show="check">
    <div class="inp radio"><input type="radio" name="options" id="dev_check1" autocomplete="off"></div> К проверке
  </label>
  <label class="<%= switch_active "new" %>" show="new">
    <div class="inp radio"><input type="radio" name="options" id="dev_new1" autocomplete="off"></div> Новые
  </label>
  <label class="<%= switch_active "all" %>" show="all">
    <div class="inp radio"><input type="radio" name="options" id="dev_all" autocomplete="off"></div> Все
  </label>
</div>


<% end %>

</div>

<div id="develops_list" class="develops"><%= render 'develops' %></div>

<%= link_to 'Добавить', new_develop_path, class: "btn btn-success" %>

<div class="sep_3"></div>
