<h2>Описание, выполнение и проверка разработок</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Что нужно сделать?</th>
      <th>Coder</th>
      <th>Boss</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @develops.each do |develop| %>
      <tr>
        <td><%= develop.name %></td>
        <td><%= check_box_tag develop.coder, develop.coder, develop.coder %></td>
        <td><%= check_box_tag develop.boss, develop.boss, develop.boss %></td>
        <td><%= link_to link_to image_tag('edit.png'), edit_develop_path(develop) %>
        <%= link_to link_to image_tag('delete.png'), develop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_develop_path, class: "btn btn-success" %>
