<div class="hl hl_a bd">Описание, выполнение и проверка разработок</div>

<div class="items_box_head">



<%= form_tag develops_path, :method => 'get', :id => "develops", class: 'index_filter' do %>
  <div class="left">
      <%= chosen_src "develops_project_id", DevProject.all,@project_id,{nil_value: 'Проект...',class:''} %>
  </div>

  <div class="btn-group left space20" data-toggle="buttons">
    <%= switch_active 'check','К проверке' %>
    <%= switch_active 'new','Новые' %>
    <%= switch_active 'info','Справка' %>
    <%= switch_active 'all','Все' %>
  </div>

  <%= link_to 'Добавить', new_develop_path, class: "btn_a btn-add btn_slim right space20" %>

<% end %>

  <div id="pagination">
  <%= render 'shared/pagination' %>
  </div>

</div>

<div id="develops_list" class="develops">
  <%= render 'develops' %>
</div>



<div class="sep_3"></div>
