
    <div >
        <table class="tbl_fc tbl_fc_1">
        <tr><td class="caption">Описание:</td>
            <td><div class="lbl"><%= @develop.description %></div></td></tr>
        </table>
    </div>

  <div class="box_wide">
  <div class="box_wrap box_wrap_1">

    <div class="panel-left">  
    <table class="tbl_fc tbl_fc_1">
        <tr><td class="caption">Проект:</td>
            <td><div class="lbl"><%= @develop.project_name %></div></td></tr>
        <tr><td class="caption">Приоритет:</td>
            <td><div class="lbl"><%= @develop.priority_name %></div></td></tr>
		<tr><td class="caption">Ответственный:</td>
            <td><div class="lbl"><%= @develop.ic_user_name %></div></td></tr>

		

	</table>
    </div>
    <div class="panel-right">
    	<div class="historyChange_box">
    		<% if @history.count >0 %>
    		<%= render "shared/history" %>    
    		<% end %>
    	</div>
    </div>
  </div>
  </div>