<div class="panel panel-default">
<div class="panel-heading table-heading">Виды товаров</div>
<table class="table table-striped">
  <tbody>
    <% @goodstypes.each do |goodstype| %>
      <tr>
        <td><%= goodstype.name %></td>
        <td></td>
        <%= edit_delete(goodstype, goodstype.providers.count )%>
      </tr>
    <% end %>

   <tr>
   <td >
  <%= form_for(@goodstype) do |f| %>
    <%= f.label 'Новый вид товара:' %>
    <%= f.text_field :name, :class => 'text_input' %>
  <% end %>
  </td>
  <td colspan="2">
       <span class="btn btn-warning btn-sm" id="btn-send"> Добавить</span>
    </td>
  </tr>

  </tbody>


</table>
</div>