<p id="notice"><%= notice %></p>

<h1>Listing Goodstypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goodstypes.each do |goodstype| %>
      <tr>
        <td><%= goodstype.name %></td>
        <td><%= link_to 'Show', goodstype %></td>
        <td><%= link_to 'Edit', edit_goodstype_path(goodstype) %></td>
        <td><%= link_to 'Destroy', goodstype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goodstype', new_goodstype_path %>
