<h3><%= @lead.updated_at.try('strftime',"%d.%m.%Y") %></h3>
<h3><%= find_version_author_name(@version) %> внес(ла) изменения в лид <%= link_to '#'+@lead.id.to_s, @lead %></h3>

 
   <ul>
  <%- @history.each do |version_fields| %>
  <%- version = version_fields[1] %>
	<%- version['description'].each do |descr| %>
	    <li><%= raw(descr) %></li>
        <% end %>
    </ul>
  <% end %>

  <%= link_to 'Перейти к лиду', [:edit, @lead] %>