
<%= simple_form_for(@receipt) do |f| %>

  <div class="box_wrap box_wrap_1">
  <div class="panel-left">
    <%= hidden_field_tag 'prj_sum', @receipt.project.nil? ? '': @receipt.project.total %> 
    <table class="tbl_fc tbl_fc">
      <tr><td class="caption">Дата создания:</td>
        <td><div class="inp_w"><%= f.text_field :date, :value => @date, label: false, class: "txt datepicker" %></div></td></tr>
      <tr><td class="caption">Вид платежа:</td>
        <td><div class="inp_w">
        <%= chosen_src 'payment_type_id', PaymentType.all, @receipt %>
      </div></td></tr>


    <tr><td class="caption">Сумма:</td>
        <td><div class="left"><%= f.text_field :sum,  class: "txt sum_mask" %></div>
            <%= receipt_procents_div %>
        </td></tr>

    <tr><td class="last_td"></td><td class="last_td"><%= submit_cancel receipts_url %></td></tr>
      </table>
  </div>
    <div class="panel-right">
    <table class="tbl_fc tbl_fc">
      <tr><td class="caption">Проект:</td>
        <td><div class="inp_w"><%= chosen_src 'project_id', Project.all, @receipt,{p_name: 'address'} %>  
        </div></td></tr>
      <tr><td class="caption">Контрагент:</td>
        <td><div class="inp_w">        
        <%= chosen_src 'provider_id', Provider.all, @receipt,{nil_value: 'Выберите...', special_value: '* Клиент'} %>
      </div></td></tr>
      <tr><td class="caption">Создатель:</td>
        <td><div class="inp_w"><%= chosen_src 'user_id', User.all, @receipt, {selected: @receipt_user } %>
      </div></td></tr>
      
      <td class="caption">Комментарий:</td>
      <td><div class="inp_w"><%= f.text_area :description, class: 'txt alone',label: false %></div></td></tr>
    </table>
    </div>


  </div>

<% end %>
