<div class="items_box_head">
<div class="panel-left">
<%= render_navigation(:level => 2) %>
</div>

<%= form_tag receipts_path, :method => 'get', :id => "rcpt_search", class: 'index_filter' do %>

<div class="combobox short_search left"> 
<label class="combobox left">
	<%= chosen_src 'receipts_provider', @providers, @param_provider,{nil_value: 'Все контрагенты...',special_value: '* Клиенты *'} %>
</label>

<label class="combobox left">
	<%= chosen_src "receipts_payment_type", PaymentType.order(:id), params[:receipts_payment_type],{nil_value:'Вид платежа...',class: 'chosen'} %> 
</label>

<label class="combobox left">
	<%= chosen_src "receipts_project_id", @projects, params[:receipts_project_id],{nil_value: 'Проект...',p_name: 'address'} %> 
</label>

<label class="combobox left">
	<%= chosen_src "receipts_executor_id", @executors, params[:receipts_executor_id],{nil_value:'Исполнитель...'} %> 
</label>

</div>
<% end %>

<% if action_name=='to_move' %>
	<!-- <%= link_to 'Перенести в расходы',to_update_receipts_path, class: "btn_a btn-add btn_slim right" %> -->
	<%= submit_tag "Перенести в расходы", :class => 'sub btn_a btn_slim right' %>
<% else %>

	<%= link_to 'Добавить',new_receipt_path, class: "btn_a btn-add btn_slim right space10" %>	
	<%= link_to '=>',to_move_receipts_path, class: "btn_a btn-add btn_slim right space10", title: 'Перенести в расходы' %>
	<%= only_actual_btn %>
<% end %>


</div>
