<div class="items_box_head">
<div class="left">
<%= render_navigation(:level => 2) %>
</div>

<%= form_tag receipts_path, :method => 'get', :id => "rcpt_search" do %>

<div class="combobox short_search left"> 
<label class="combobox left">
	<%= select_tag "receipts_provider", content_tag(:option,'Все контрагенты...',:value=>-1)+
														if @param_provider==0 
															content_tag(:option,'#Клиенты',:value=>0, selected: 'selected' ) 
														else
															content_tag(:option,'#Клиенты',:value=>0 )
														end	+	options_from_collection_for_select(@providers, "id", "name",
														:selected => @param_provider) %></label>


<label class="combobox left">
<%= select_tag "receipts_payment_type", content_tag(:option,'Вид платежа...',:value=>0)+options_from_collection_for_select(PaymentType.all, "id", "name",:selected=>params[:receipts_payment_type]) %> 
</label>

<label class="combobox left">
<%= select_tag "receipts_project_id", content_tag(:option,'Проект...',:value=>0)+options_from_collection_for_select(@projects, "id", "address",:selected=>params[:receipts_project_id]) %> 
</label>

<%= text_field_tag :rcpt_search, params[:rcpt_search], :class => "search_area txt slim_txt", :placeholder=>"Поиск...", :value=>params[:rcpt_search] %>
</div>
<% end %>
<%= link_to 'Добавить приход',new_receipt_path, class: "btn_a btn-add btn_slim right" %>

</div>

<div class ="container">
  <div id="div_treceipts">
    <%= render "receipts" %>
  </div>
</div>