<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Pcrm" %></title>
  <%= Gon::Base.render_data %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %> 
</head>

<body>
<div class="page-wrapper">
 <div class="h_container">
  <% if current_user %>
    <div class="header">
      <div class="bw_i">
        <% if controller.action_name == 'show' && controller_name == 'users' %>
          <div class="nav_select">
            <div class="nav_year" v-if="years.length>0"> 
              <v-chosen name="year" placeholder='Год...' src='years' clear=false>
            </div>
          </div>
          <%= render 'main_app_vue' %> 
        <% elsif controller.action_name == 'index' || controller_name == 'options' %>
          <div class="nav_select">
            <div class="nav_city"> 
              <v-chosen name="main_city" placeholder='Город...' src='cities' clear=false>
            </div> 
            <div class="nav_year" v-if="years.length>0"> 
              <v-chosen name="year" placeholder='Год...' src='years' clear=false>
            </div>
            <div class="navsearch"> 
              <%= text_field_tag :search, params[:search], 
                                  class: "search_area txt", 
                                  placeholder: "Поиск...", 
                                  aname: controller.action_name, 
                                  cname: controller.controller_name,
                                  mname: class_name %>
              <div class="vs__actions">
                <button type="button" title="Clear selection" class="clear" style="">
                <span aria-hidden="true">×</span></button> 
              </div>
            </div>
          </div>
          <%= render 'main_app_vue' %> 
        <% end %>
        <div class="user_h">
          <div class="time_h">20:06:28</div><span class="name">
            <%= link_to current_user.name, edit_user_path(current_user) %></span>
            <%= link_to logout_path, method: :delete, class: "orange logout" do %>
            <span class="icon icon_logout"></span>выйти
          <% end %>
        </div>
      </div>
      <div class="pic avatar"><%= avatar_for(current_user) %></div>
      
      <div class="menu_main menu_h">
        <div id="dev_info">
          <%= develops_info %>
        </div>
        <%= render_navigation level: 1 %>
      </div>
    </div>
  <% end %>      

  <div class="js-notes has-note">
    <% flash.each do |name, msg| %>
      <%= render 'error_msg', name: name, msg: msg %>
    <% end %>
    <% flash.clear %>
  </div>
 
  <div class="container">
  <p id="to_bottom">
      <a href="#bottom"><span></span>Вниз</a>
  </p>
    <div id="modal-holder" class="slide"></div>
    <%= yield %>
  </div>
  <p id="back-top">
      <a href="#top"><span></span>Вверх</a>
  </p>


<div class="page-buffer"></div>
<div class="page-footer">
  <footer class="footer"></footer>
</div>

</body>
</html>
